{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.3/mobile-detect.min.js"></script>
    <script src="{% static  'js/main-mobile.js' %}" type="text/javascript"></script>

    <title>Title</title>

    <style>
        @font-face {
            font-family: 'GothamProLight';
            src: url('static/fonts/GothamProLight.ttf');
        }

        @font-face {
            font-family: 'GothamProBold';
            src: url('static/fonts/GothamProBold.ttf');
        }

        a {
            display: block;
            margin: 45px auto;
            width: 289px;
            height: 84px;
            background: url("static/img/big-store-buttons.png") no-repeat;
        }

        a.apple {
            background-position: 0 -84px;
        }

        h2 {
            font-family: "GothamProBold";
            text-align: center;
        }
    </style>
</head>
<body>
    <br>
    <h2>Download our Mobile App for Free</h2>
    <a href="market://details?id=com.revengebet_limited" class="google" id="google-link" target="_top"></a>
    <a href="itms-apps://itunes.apple.com/ru/app/revengebet/id1129144807?l=en&mt=8" class="apple" target="_top"></a>
</body>
</html>