{% extends 'admin/change_form.html' %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript">
(function($) {

    $("#lookup_id_player_1, #lookup_id_player_2").attr("href", "/admin/player/player/?_to_field=id&sport__exact="+$("#id_sport").val())
    $("#id_sport").change(function() {
        $("#lookup_id_player_1, #lookup_id_player_2").attr("href", "/admin/player/player/?_to_field=id&sport__exact="+$(this).val())
    });

    $(".vPlayerField").on('change', function(event) {
        id = $(this).val();
        name = $(this).attr("name");
        var obj = $(this);
        $.getJSON("/api/player.get/?id="+id+"&lang=us&translations=true", function(data) {
            var image = data.player.image;
            var title = data.player.title;

            if (title.trim() == "")
                title = data.player.id;

            var $langs = $("#langs_"+name);
            $langs.html("");

            $(data.translations).each(function() {
                $langs.append("<div class='"+this.lang+"' title='"+this.title+"'></div>");
            });

            $(obj).parent("div").children("strong").html(title);
            $(obj).parent("div").children("img").attr("src", image);
        });
    });

})(django.jQuery);
</script>
{% endblock %}
