<div class="autocomplete_wrapper">
    <input class="vTextField autocomplete_input" id="id_{{ name }}" name="{{ name }}" type="text" value="{{ value }}" autocomplete="off">
    <ul class="autocomplete_items empty">
    </ul>
</div>
