{% if forecast != None %}
    <p style="margin-left: 170px;"><strong>Дом:</strong> {{ forecast.player_1 }}</p>
    <p style="margin-left: 170px;"><strong>Гости:</strong> {{ forecast.player_2 }}</p>
    <p style="margin-left: 170px;"><strong>ODD:</strong> {{ forecast.odd }}</p>
    <p style="margin-left: 170px;"><strong>Время матча:</strong> {{ forecast.datetime }}</p>
    <p style="margin-left: 170px;"><strong>Подсказки:</strong></p>

    {% for tip in forecast.get_tips %}
        <p style="margin-left: 200px;">{{ tip.text }}</p>
    {% endfor %}
{% else %}
{% endif %}

<input id="id_{{ name }}" name="{{ name }}" type="hidden" value="{{ value }}">
