<ul class="languages-widget">
{% for language in languages %}
    <li {% if active_code == language.pk %}class="active"{% endif %}>
        <a href="#" lang="{{ language.pk }}" win="{{ language.will_win_text }}" lose="{{ language.will_lose_text }}" draw="{{ language.will_draw_text }}"><span class="flag flag-{{ language.pk }}"></span>
        {{ language.country_name }} ({{ language.country_code }})</a>
    </li>
{% endfor %}
</ul>
