<img src='{{ image }}' width=50><strong style="margin: 0 5px 0 10px" id="id_{{ name }}_text">{{ title }}</strong>
<a href="/admin/player/player/?_to_field=id" class="related-lookup" id="lookup_id_{{ name }}" title="Поиск"></a>
<input class="vPlayerField" id="id_{{ name }}" name="{{ name }}" type="hidden" value="{{ value }}">
<div id="langs_{{ name }}" style="display: none">
    {% for translation in translations %}
        <div class="{{ translation.language.pk }}" title="{{ translation.title }}"></div>
    {% endfor %}
</div>
