@font-face {
  font-family: 'GothamProLight';
  src: url('fonts/GothamProLight.ttf');
}
@font-face {
  font-family: 'GothamProBold';
  src: url('fonts/GothamProBold.ttf');
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: #E4E4E4;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #626262;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
.main {
  padding: 0px;
}
.header {
  width: 1280px;
  padding: 0px;
  background-color: #f1f2f2;
  height: 630px;
}
.header .img-football,
.header .img-basketball {
  margin-top: 120px;
}
.header .img-basketball {
  margin-left: -5px;
}
.header .img-logo {
  float: right;
  margin-right: 80px;
  margin-top: 60px;
}
.header .welcome {
  height: 80px;
  width: 375px;
  float: right;
  padding: 10px;
  margin-top: 205px;
  margin-right: -145px;
}
.header .welcome p {
  font-family: 'GothamProLight';
  font-size: 22px;
}
.header .richer {
  float: right;
  background-color: #a8e032;
  width: 350px;
  height: 140px;
  margin-top: 310px;
  margin-right: -365px;
  padding: 25px 10px 25px 10px;
}
.header .richer i {
  font-size: 55px;
  color: #ffffff;
}
.header .richer i span {
  font-family: 'GothamProBold';
  font-size: 62px;
}
.header .richer p {
  font-family: 'GothamProLight';
  font-size: 27px;
  text-transform: uppercase;
  color: #ffffff;
}
.header .download {
  float: right;
  margin-top: 450px;
  margin-right: -370px;
  width: 360px;
  height: 50px;
  padding: 10px;
}
.header .download p {
  font-family: 'GothamProLight';
  font-size: 19px;
}
.header .img-google {
  float: right;
  margin-top: 515px;
  margin-right: -185px;
  opacity: 1;
  transition: 0.3s;
}
.header .img-apple {
  float: right;
  margin-top: 515px;
  margin-right: -370px;
  opacity: 1;
  transition: 0.3s;
}
.header .img-apple:hover,
.header .img-google:hover {
  opacity: 0.85;
}
.header .mobile-block {
  padding: 0px;
}
.header .mobile-block .img-mobile {
  margin: 0 auto;
  margin-top: -545px;
}
.content {
  padding: 0px;
  width: 1280px;
}
.content .content-title {
  margin-top: 100px;
}
.content .content-title h1 {
  text-transform: uppercase;
  font-family: 'GothamProBold';
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}
.content .content-title hr {
  width: 290px;
  margin-top: 14px;
  border: none;
  height: 5px;
}
.content .content-title .football-hr {
  background-color: #a8e032;
}
.content .content-title .tennis-hr {
  background-color: #f5d10a;
}
.content .content-title .basketball-hr {
  background-color: #faa71a;
}
.content .content-title .volleyball-hr {
  background-color: #23c4f4;
}
.content .menu ul {
  padding: 0px;
  list-style: none;
}
.content .menu ul a {
  color: #000;
}
.content .menu ul a li {
  padding: 7px 5px 7px 5px;
  display: inline-block;
  width: 240px;
  height: 75px;
  border: 10px solid #fff;
  transition: 0.3s;
}
.content .menu ul a li img {
  margin-top: -15px;
}
.content .menu ul a li span {
  font-size: 30px;
}
.content .menu ul a .footbal-active {
  border: 10px solid #a8e032;
}
.content .menu ul a .tennis-active {
  border: 10px solid #f5d10a;
}
.content .menu ul a .basketball-active {
  border: 10px solid #faa71a;
}
.content .menu ul a .volleyball-active {
  border: 10px solid #23c4f4;
}
.content .menu a:hover {
  color: #000;
  text-decoration: none;
}
.content .menu a:hover li {
  border: 10px solid #dadada;
}
.content .info-block-football {
  background: url(img/background/foot_back.png) no-repeat #fff center top;
}
.content .info-block-tennis {
  background: url(img/background/tennis_back.png) no-repeat #fff center top;
}
.content .info-block-basket {
  background: url(img/background/basket_back.png) no-repeat #fff center top;
}
.content .info-block-volley {
  background: url(img/background/volley_back.png) no-repeat #fff center top;
}
.content .info-block-football,
.content .info-block-tennis,
.content .info-block-basket,
.content .info-block-volley {
  height: 745px;
}
.content .info-block-football .left-panel,
.content .info-block-football .right-panel,
.content .info-block-tennis .left-panel,
.content .info-block-tennis .right-panel,
.content .info-block-basket .left-panel,
.content .info-block-basket .right-panel,
.content .info-block-volley .left-panel,
.content .info-block-volley .right-panel {
  padding: 0px;
}
.content .info-block-football .left-panel .title h2,
.content .info-block-football .right-panel .title h2,
.content .info-block-tennis .left-panel .title h2,
.content .info-block-tennis .right-panel .title h2,
.content .info-block-basket .left-panel .title h2,
.content .info-block-basket .right-panel .title h2,
.content .info-block-volley .left-panel .title h2,
.content .info-block-volley .right-panel .title h2 {
  margin: 0px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'GothamProBold';
  margin-top: 45px;
}
.content .info-block-football .left-panel .title hr,
.content .info-block-football .right-panel .title hr,
.content .info-block-tennis .left-panel .title hr,
.content .info-block-tennis .right-panel .title hr,
.content .info-block-basket .left-panel .title hr,
.content .info-block-basket .right-panel .title hr,
.content .info-block-volley .left-panel .title hr,
.content .info-block-volley .right-panel .title hr {
  position: absolute;
  width: 290px;
  margin-top: 10px;
  border: none;
  height: 5px;
}
.content .info-block-football .left-panel .title h2,
.content .info-block-football .left-panel .title hr,
.content .info-block-football .right-panel .title h2,
.content .info-block-football .right-panel .title hr,
.content .info-block-tennis .left-panel .title h2,
.content .info-block-tennis .left-panel .title hr,
.content .info-block-tennis .right-panel .title h2,
.content .info-block-tennis .right-panel .title hr,
.content .info-block-basket .left-panel .title h2,
.content .info-block-basket .left-panel .title hr,
.content .info-block-basket .right-panel .title h2,
.content .info-block-basket .right-panel .title hr,
.content .info-block-volley .left-panel .title h2,
.content .info-block-volley .left-panel .title hr,
.content .info-block-volley .right-panel .title h2,
.content .info-block-volley .right-panel .title hr {
  margin-left: 95px;
}
.content .info-block-football .left-panel .title .hr-left,
.content .info-block-football .right-panel .title .hr-left,
.content .info-block-tennis .left-panel .title .hr-left,
.content .info-block-tennis .right-panel .title .hr-left,
.content .info-block-basket .left-panel .title .hr-left,
.content .info-block-basket .right-panel .title .hr-left,
.content .info-block-volley .left-panel .title .hr-left,
.content .info-block-volley .right-panel .title .hr-left {
  width: 235px;
}
.content .info-block-football .left-panel .title .hr-right,
.content .info-block-football .right-panel .title .hr-right,
.content .info-block-tennis .left-panel .title .hr-right,
.content .info-block-tennis .right-panel .title .hr-right,
.content .info-block-basket .left-panel .title .hr-right,
.content .info-block-basket .right-panel .title .hr-right,
.content .info-block-volley .left-panel .title .hr-right,
.content .info-block-volley .right-panel .title .hr-right {
  width: 165px;
}
.content .info-block-football .left-panel .title .hr-left-foot,
.content .info-block-football .left-panel .title .hr-right-foot,
.content .info-block-football .right-panel .title .hr-left-foot,
.content .info-block-football .right-panel .title .hr-right-foot,
.content .info-block-tennis .left-panel .title .hr-left-foot,
.content .info-block-tennis .left-panel .title .hr-right-foot,
.content .info-block-tennis .right-panel .title .hr-left-foot,
.content .info-block-tennis .right-panel .title .hr-right-foot,
.content .info-block-basket .left-panel .title .hr-left-foot,
.content .info-block-basket .left-panel .title .hr-right-foot,
.content .info-block-basket .right-panel .title .hr-left-foot,
.content .info-block-basket .right-panel .title .hr-right-foot,
.content .info-block-volley .left-panel .title .hr-left-foot,
.content .info-block-volley .left-panel .title .hr-right-foot,
.content .info-block-volley .right-panel .title .hr-left-foot,
.content .info-block-volley .right-panel .title .hr-right-foot {
  background-color: #a8e032;
}
.content .info-block-football .left-panel .title .hr-left-tennis,
.content .info-block-football .left-panel .title .hr-right-tennis,
.content .info-block-football .right-panel .title .hr-left-tennis,
.content .info-block-football .right-panel .title .hr-right-tennis,
.content .info-block-tennis .left-panel .title .hr-left-tennis,
.content .info-block-tennis .left-panel .title .hr-right-tennis,
.content .info-block-tennis .right-panel .title .hr-left-tennis,
.content .info-block-tennis .right-panel .title .hr-right-tennis,
.content .info-block-basket .left-panel .title .hr-left-tennis,
.content .info-block-basket .left-panel .title .hr-right-tennis,
.content .info-block-basket .right-panel .title .hr-left-tennis,
.content .info-block-basket .right-panel .title .hr-right-tennis,
.content .info-block-volley .left-panel .title .hr-left-tennis,
.content .info-block-volley .left-panel .title .hr-right-tennis,
.content .info-block-volley .right-panel .title .hr-left-tennis,
.content .info-block-volley .right-panel .title .hr-right-tennis {
  background-color: #f5d10a;
}
.content .info-block-football .left-panel .title .hr-left-basket,
.content .info-block-football .left-panel .title .hr-right-basket,
.content .info-block-football .right-panel .title .hr-left-basket,
.content .info-block-football .right-panel .title .hr-right-basket,
.content .info-block-tennis .left-panel .title .hr-left-basket,
.content .info-block-tennis .left-panel .title .hr-right-basket,
.content .info-block-tennis .right-panel .title .hr-left-basket,
.content .info-block-tennis .right-panel .title .hr-right-basket,
.content .info-block-basket .left-panel .title .hr-left-basket,
.content .info-block-basket .left-panel .title .hr-right-basket,
.content .info-block-basket .right-panel .title .hr-left-basket,
.content .info-block-basket .right-panel .title .hr-right-basket,
.content .info-block-volley .left-panel .title .hr-left-basket,
.content .info-block-volley .left-panel .title .hr-right-basket,
.content .info-block-volley .right-panel .title .hr-left-basket,
.content .info-block-volley .right-panel .title .hr-right-basket {
  background-color: #faa71a;
}
.content .info-block-football .left-panel .title .hr-left-volley,
.content .info-block-football .left-panel .title .hr-right-volley,
.content .info-block-football .right-panel .title .hr-left-volley,
.content .info-block-football .right-panel .title .hr-right-volley,
.content .info-block-tennis .left-panel .title .hr-left-volley,
.content .info-block-tennis .left-panel .title .hr-right-volley,
.content .info-block-tennis .right-panel .title .hr-left-volley,
.content .info-block-tennis .right-panel .title .hr-right-volley,
.content .info-block-basket .left-panel .title .hr-left-volley,
.content .info-block-basket .left-panel .title .hr-right-volley,
.content .info-block-basket .right-panel .title .hr-left-volley,
.content .info-block-basket .right-panel .title .hr-right-volley,
.content .info-block-volley .left-panel .title .hr-left-volley,
.content .info-block-volley .left-panel .title .hr-right-volley,
.content .info-block-volley .right-panel .title .hr-left-volley,
.content .info-block-volley .right-panel .title .hr-right-volley {
  background-color: #23c4f4;
}
.content .info-block-football .left-panel .title-tip-history,
.content .info-block-football .right-panel .title-tip-history,
.content .info-block-tennis .left-panel .title-tip-history,
.content .info-block-tennis .right-panel .title-tip-history,
.content .info-block-basket .left-panel .title-tip-history,
.content .info-block-basket .right-panel .title-tip-history,
.content .info-block-volley .left-panel .title-tip-history,
.content .info-block-volley .right-panel .title-tip-history {
  padding: 15px;
  width: 560px;
  height: 10px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 70px;
}
.content .info-block-football .left-panel .title-tip-history .date h4,
.content .info-block-football .left-panel .title-tip-history .team h4,
.content .info-block-football .left-panel .title-tip-history .tips h4,
.content .info-block-football .left-panel .title-tip-history .odd h4,
.content .info-block-football .left-panel .title-tip-history .score h4,
.content .info-block-football .left-panel .title-tip-history .win-lose h4,
.content .info-block-football .right-panel .title-tip-history .date h4,
.content .info-block-football .right-panel .title-tip-history .team h4,
.content .info-block-football .right-panel .title-tip-history .tips h4,
.content .info-block-football .right-panel .title-tip-history .odd h4,
.content .info-block-football .right-panel .title-tip-history .score h4,
.content .info-block-football .right-panel .title-tip-history .win-lose h4,
.content .info-block-tennis .left-panel .title-tip-history .date h4,
.content .info-block-tennis .left-panel .title-tip-history .team h4,
.content .info-block-tennis .left-panel .title-tip-history .tips h4,
.content .info-block-tennis .left-panel .title-tip-history .odd h4,
.content .info-block-tennis .left-panel .title-tip-history .score h4,
.content .info-block-tennis .left-panel .title-tip-history .win-lose h4,
.content .info-block-tennis .right-panel .title-tip-history .date h4,
.content .info-block-tennis .right-panel .title-tip-history .team h4,
.content .info-block-tennis .right-panel .title-tip-history .tips h4,
.content .info-block-tennis .right-panel .title-tip-history .odd h4,
.content .info-block-tennis .right-panel .title-tip-history .score h4,
.content .info-block-tennis .right-panel .title-tip-history .win-lose h4,
.content .info-block-basket .left-panel .title-tip-history .date h4,
.content .info-block-basket .left-panel .title-tip-history .team h4,
.content .info-block-basket .left-panel .title-tip-history .tips h4,
.content .info-block-basket .left-panel .title-tip-history .odd h4,
.content .info-block-basket .left-panel .title-tip-history .score h4,
.content .info-block-basket .left-panel .title-tip-history .win-lose h4,
.content .info-block-basket .right-panel .title-tip-history .date h4,
.content .info-block-basket .right-panel .title-tip-history .team h4,
.content .info-block-basket .right-panel .title-tip-history .tips h4,
.content .info-block-basket .right-panel .title-tip-history .odd h4,
.content .info-block-basket .right-panel .title-tip-history .score h4,
.content .info-block-basket .right-panel .title-tip-history .win-lose h4,
.content .info-block-volley .left-panel .title-tip-history .date h4,
.content .info-block-volley .left-panel .title-tip-history .team h4,
.content .info-block-volley .left-panel .title-tip-history .tips h4,
.content .info-block-volley .left-panel .title-tip-history .odd h4,
.content .info-block-volley .left-panel .title-tip-history .score h4,
.content .info-block-volley .left-panel .title-tip-history .win-lose h4,
.content .info-block-volley .right-panel .title-tip-history .date h4,
.content .info-block-volley .right-panel .title-tip-history .team h4,
.content .info-block-volley .right-panel .title-tip-history .tips h4,
.content .info-block-volley .right-panel .title-tip-history .odd h4,
.content .info-block-volley .right-panel .title-tip-history .score h4,
.content .info-block-volley .right-panel .title-tip-history .win-lose h4 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'GothamProBold';
}
.content .info-block-football .left-panel .title-tip-history .tips h4,
.content .info-block-football .right-panel .title-tip-history .tips h4,
.content .info-block-tennis .left-panel .title-tip-history .tips h4,
.content .info-block-tennis .right-panel .title-tip-history .tips h4,
.content .info-block-basket .left-panel .title-tip-history .tips h4,
.content .info-block-basket .right-panel .title-tip-history .tips h4,
.content .info-block-volley .left-panel .title-tip-history .tips h4,
.content .info-block-volley .right-panel .title-tip-history .tips h4 {
  margin-left: -8px;
}
.content .info-block-football .left-panel .title-tip-history .team,
.content .info-block-football .left-panel .title-tip-history .tips,
.content .info-block-football .left-panel .title-tip-history .odd,
.content .info-block-football .left-panel .title-tip-history .score,
.content .info-block-football .left-panel .title-tip-history .win-lose,
.content .info-block-football .right-panel .title-tip-history .team,
.content .info-block-football .right-panel .title-tip-history .tips,
.content .info-block-football .right-panel .title-tip-history .odd,
.content .info-block-football .right-panel .title-tip-history .score,
.content .info-block-football .right-panel .title-tip-history .win-lose,
.content .info-block-tennis .left-panel .title-tip-history .team,
.content .info-block-tennis .left-panel .title-tip-history .tips,
.content .info-block-tennis .left-panel .title-tip-history .odd,
.content .info-block-tennis .left-panel .title-tip-history .score,
.content .info-block-tennis .left-panel .title-tip-history .win-lose,
.content .info-block-tennis .right-panel .title-tip-history .team,
.content .info-block-tennis .right-panel .title-tip-history .tips,
.content .info-block-tennis .right-panel .title-tip-history .odd,
.content .info-block-tennis .right-panel .title-tip-history .score,
.content .info-block-tennis .right-panel .title-tip-history .win-lose,
.content .info-block-basket .left-panel .title-tip-history .team,
.content .info-block-basket .left-panel .title-tip-history .tips,
.content .info-block-basket .left-panel .title-tip-history .odd,
.content .info-block-basket .left-panel .title-tip-history .score,
.content .info-block-basket .left-panel .title-tip-history .win-lose,
.content .info-block-basket .right-panel .title-tip-history .team,
.content .info-block-basket .right-panel .title-tip-history .tips,
.content .info-block-basket .right-panel .title-tip-history .odd,
.content .info-block-basket .right-panel .title-tip-history .score,
.content .info-block-basket .right-panel .title-tip-history .win-lose,
.content .info-block-volley .left-panel .title-tip-history .team,
.content .info-block-volley .left-panel .title-tip-history .tips,
.content .info-block-volley .left-panel .title-tip-history .odd,
.content .info-block-volley .left-panel .title-tip-history .score,
.content .info-block-volley .left-panel .title-tip-history .win-lose,
.content .info-block-volley .right-panel .title-tip-history .team,
.content .info-block-volley .right-panel .title-tip-history .tips,
.content .info-block-volley .right-panel .title-tip-history .odd,
.content .info-block-volley .right-panel .title-tip-history .score,
.content .info-block-volley .right-panel .title-tip-history .win-lose {
  padding: 0px;
}
.content .info-block-football .left-panel .title-tip-history .tips h4,
.content .info-block-football .left-panel .title-tip-history .odd h4,
.content .info-block-football .left-panel .title-tip-history .score h4,
.content .info-block-football .right-panel .title-tip-history .tips h4,
.content .info-block-football .right-panel .title-tip-history .odd h4,
.content .info-block-football .right-panel .title-tip-history .score h4,
.content .info-block-tennis .left-panel .title-tip-history .tips h4,
.content .info-block-tennis .left-panel .title-tip-history .odd h4,
.content .info-block-tennis .left-panel .title-tip-history .score h4,
.content .info-block-tennis .right-panel .title-tip-history .tips h4,
.content .info-block-tennis .right-panel .title-tip-history .odd h4,
.content .info-block-tennis .right-panel .title-tip-history .score h4,
.content .info-block-basket .left-panel .title-tip-history .tips h4,
.content .info-block-basket .left-panel .title-tip-history .odd h4,
.content .info-block-basket .left-panel .title-tip-history .score h4,
.content .info-block-basket .right-panel .title-tip-history .tips h4,
.content .info-block-basket .right-panel .title-tip-history .odd h4,
.content .info-block-basket .right-panel .title-tip-history .score h4,
.content .info-block-volley .left-panel .title-tip-history .tips h4,
.content .info-block-volley .left-panel .title-tip-history .odd h4,
.content .info-block-volley .left-panel .title-tip-history .score h4,
.content .info-block-volley .right-panel .title-tip-history .tips h4,
.content .info-block-volley .right-panel .title-tip-history .odd h4,
.content .info-block-volley .right-panel .title-tip-history .score h4 {
  margin-left: -30px;
}
.content .info-block-football .left-panel .title-tip-history .tips h4,
.content .info-block-football .right-panel .title-tip-history .tips h4,
.content .info-block-tennis .left-panel .title-tip-history .tips h4,
.content .info-block-tennis .right-panel .title-tip-history .tips h4,
.content .info-block-basket .left-panel .title-tip-history .tips h4,
.content .info-block-basket .right-panel .title-tip-history .tips h4,
.content .info-block-volley .left-panel .title-tip-history .tips h4,
.content .info-block-volley .right-panel .title-tip-history .tips h4 {
  margin-left: -38px;
}
.content .info-block-football .left-panel .content-tip-history,
.content .info-block-football .right-panel .content-tip-history,
.content .info-block-tennis .left-panel .content-tip-history,
.content .info-block-tennis .right-panel .content-tip-history,
.content .info-block-basket .left-panel .content-tip-history,
.content .info-block-basket .right-panel .content-tip-history,
.content .info-block-volley .left-panel .content-tip-history,
.content .info-block-volley .right-panel .content-tip-history {
  overflow: auto;
  padding: 15px;
  width: 560px;
  height: 500px;
  background-color: #fff;
  margin-top: 0px;
  margin-left: 70px;
}
.content .info-block-football .left-panel .content-tip-history .date p,
.content .info-block-football .left-panel .content-tip-history .team p,
.content .info-block-football .left-panel .content-tip-history .tips p,
.content .info-block-football .left-panel .content-tip-history .odd p,
.content .info-block-football .left-panel .content-tip-history .score p,
.content .info-block-football .left-panel .content-tip-history .win-lose p,
.content .info-block-football .right-panel .content-tip-history .date p,
.content .info-block-football .right-panel .content-tip-history .team p,
.content .info-block-football .right-panel .content-tip-history .tips p,
.content .info-block-football .right-panel .content-tip-history .odd p,
.content .info-block-football .right-panel .content-tip-history .score p,
.content .info-block-football .right-panel .content-tip-history .win-lose p,
.content .info-block-tennis .left-panel .content-tip-history .date p,
.content .info-block-tennis .left-panel .content-tip-history .team p,
.content .info-block-tennis .left-panel .content-tip-history .tips p,
.content .info-block-tennis .left-panel .content-tip-history .odd p,
.content .info-block-tennis .left-panel .content-tip-history .score p,
.content .info-block-tennis .left-panel .content-tip-history .win-lose p,
.content .info-block-tennis .right-panel .content-tip-history .date p,
.content .info-block-tennis .right-panel .content-tip-history .team p,
.content .info-block-tennis .right-panel .content-tip-history .tips p,
.content .info-block-tennis .right-panel .content-tip-history .odd p,
.content .info-block-tennis .right-panel .content-tip-history .score p,
.content .info-block-tennis .right-panel .content-tip-history .win-lose p,
.content .info-block-basket .left-panel .content-tip-history .date p,
.content .info-block-basket .left-panel .content-tip-history .team p,
.content .info-block-basket .left-panel .content-tip-history .tips p,
.content .info-block-basket .left-panel .content-tip-history .odd p,
.content .info-block-basket .left-panel .content-tip-history .score p,
.content .info-block-basket .left-panel .content-tip-history .win-lose p,
.content .info-block-basket .right-panel .content-tip-history .date p,
.content .info-block-basket .right-panel .content-tip-history .team p,
.content .info-block-basket .right-panel .content-tip-history .tips p,
.content .info-block-basket .right-panel .content-tip-history .odd p,
.content .info-block-basket .right-panel .content-tip-history .score p,
.content .info-block-basket .right-panel .content-tip-history .win-lose p,
.content .info-block-volley .left-panel .content-tip-history .date p,
.content .info-block-volley .left-panel .content-tip-history .team p,
.content .info-block-volley .left-panel .content-tip-history .tips p,
.content .info-block-volley .left-panel .content-tip-history .odd p,
.content .info-block-volley .left-panel .content-tip-history .score p,
.content .info-block-volley .left-panel .content-tip-history .win-lose p,
.content .info-block-volley .right-panel .content-tip-history .date p,
.content .info-block-volley .right-panel .content-tip-history .team p,
.content .info-block-volley .right-panel .content-tip-history .tips p,
.content .info-block-volley .right-panel .content-tip-history .odd p,
.content .info-block-volley .right-panel .content-tip-history .score p,
.content .info-block-volley .right-panel .content-tip-history .win-lose p {
  margin: 0px;
  font-size: 12px;
  margin-bottom: 25px;
}
.content .info-block-football .left-panel .content-tip-history .team,
.content .info-block-football .left-panel .content-tip-history .tips,
.content .info-block-football .left-panel .content-tip-history .odd,
.content .info-block-football .left-panel .content-tip-history .score,
.content .info-block-football .left-panel .content-tip-history .win-lose,
.content .info-block-football .right-panel .content-tip-history .team,
.content .info-block-football .right-panel .content-tip-history .tips,
.content .info-block-football .right-panel .content-tip-history .odd,
.content .info-block-football .right-panel .content-tip-history .score,
.content .info-block-football .right-panel .content-tip-history .win-lose,
.content .info-block-tennis .left-panel .content-tip-history .team,
.content .info-block-tennis .left-panel .content-tip-history .tips,
.content .info-block-tennis .left-panel .content-tip-history .odd,
.content .info-block-tennis .left-panel .content-tip-history .score,
.content .info-block-tennis .left-panel .content-tip-history .win-lose,
.content .info-block-tennis .right-panel .content-tip-history .team,
.content .info-block-tennis .right-panel .content-tip-history .tips,
.content .info-block-tennis .right-panel .content-tip-history .odd,
.content .info-block-tennis .right-panel .content-tip-history .score,
.content .info-block-tennis .right-panel .content-tip-history .win-lose,
.content .info-block-basket .left-panel .content-tip-history .team,
.content .info-block-basket .left-panel .content-tip-history .tips,
.content .info-block-basket .left-panel .content-tip-history .odd,
.content .info-block-basket .left-panel .content-tip-history .score,
.content .info-block-basket .left-panel .content-tip-history .win-lose,
.content .info-block-basket .right-panel .content-tip-history .team,
.content .info-block-basket .right-panel .content-tip-history .tips,
.content .info-block-basket .right-panel .content-tip-history .odd,
.content .info-block-basket .right-panel .content-tip-history .score,
.content .info-block-basket .right-panel .content-tip-history .win-lose,
.content .info-block-volley .left-panel .content-tip-history .team,
.content .info-block-volley .left-panel .content-tip-history .tips,
.content .info-block-volley .left-panel .content-tip-history .odd,
.content .info-block-volley .left-panel .content-tip-history .score,
.content .info-block-volley .left-panel .content-tip-history .win-lose,
.content .info-block-volley .right-panel .content-tip-history .team,
.content .info-block-volley .right-panel .content-tip-history .tips,
.content .info-block-volley .right-panel .content-tip-history .odd,
.content .info-block-volley .right-panel .content-tip-history .score,
.content .info-block-volley .right-panel .content-tip-history .win-lose {
  padding: 0px;
}
.content .info-block-football .left-panel .content-tip-history .tips h4,
.content .info-block-football .left-panel .content-tip-history .tips p,
.content .info-block-football .left-panel .content-tip-history .odd h4,
.content .info-block-football .left-panel .content-tip-history .odd p,
.content .info-block-football .left-panel .content-tip-history .score h4,
.content .info-block-football .left-panel .content-tip-history .score p,
.content .info-block-football .right-panel .content-tip-history .tips h4,
.content .info-block-football .right-panel .content-tip-history .tips p,
.content .info-block-football .right-panel .content-tip-history .odd h4,
.content .info-block-football .right-panel .content-tip-history .odd p,
.content .info-block-football .right-panel .content-tip-history .score h4,
.content .info-block-football .right-panel .content-tip-history .score p,
.content .info-block-tennis .left-panel .content-tip-history .tips h4,
.content .info-block-tennis .left-panel .content-tip-history .tips p,
.content .info-block-tennis .left-panel .content-tip-history .odd h4,
.content .info-block-tennis .left-panel .content-tip-history .odd p,
.content .info-block-tennis .left-panel .content-tip-history .score h4,
.content .info-block-tennis .left-panel .content-tip-history .score p,
.content .info-block-tennis .right-panel .content-tip-history .tips h4,
.content .info-block-tennis .right-panel .content-tip-history .tips p,
.content .info-block-tennis .right-panel .content-tip-history .odd h4,
.content .info-block-tennis .right-panel .content-tip-history .odd p,
.content .info-block-tennis .right-panel .content-tip-history .score h4,
.content .info-block-tennis .right-panel .content-tip-history .score p,
.content .info-block-basket .left-panel .content-tip-history .tips h4,
.content .info-block-basket .left-panel .content-tip-history .tips p,
.content .info-block-basket .left-panel .content-tip-history .odd h4,
.content .info-block-basket .left-panel .content-tip-history .odd p,
.content .info-block-basket .left-panel .content-tip-history .score h4,
.content .info-block-basket .left-panel .content-tip-history .score p,
.content .info-block-basket .right-panel .content-tip-history .tips h4,
.content .info-block-basket .right-panel .content-tip-history .tips p,
.content .info-block-basket .right-panel .content-tip-history .odd h4,
.content .info-block-basket .right-panel .content-tip-history .odd p,
.content .info-block-basket .right-panel .content-tip-history .score h4,
.content .info-block-basket .right-panel .content-tip-history .score p,
.content .info-block-volley .left-panel .content-tip-history .tips h4,
.content .info-block-volley .left-panel .content-tip-history .tips p,
.content .info-block-volley .left-panel .content-tip-history .odd h4,
.content .info-block-volley .left-panel .content-tip-history .odd p,
.content .info-block-volley .left-panel .content-tip-history .score h4,
.content .info-block-volley .left-panel .content-tip-history .score p,
.content .info-block-volley .right-panel .content-tip-history .tips h4,
.content .info-block-volley .right-panel .content-tip-history .tips p,
.content .info-block-volley .right-panel .content-tip-history .odd h4,
.content .info-block-volley .right-panel .content-tip-history .odd p,
.content .info-block-volley .right-panel .content-tip-history .score h4,
.content .info-block-volley .right-panel .content-tip-history .score p {
  margin-left: -30px;
}
.content .info-block-football .left-panel .content-tip-history .tips h4,
.content .info-block-football .right-panel .content-tip-history .tips h4,
.content .info-block-tennis .left-panel .content-tip-history .tips h4,
.content .info-block-tennis .right-panel .content-tip-history .tips h4,
.content .info-block-basket .left-panel .content-tip-history .tips h4,
.content .info-block-basket .right-panel .content-tip-history .tips h4,
.content .info-block-volley .left-panel .content-tip-history .tips h4,
.content .info-block-volley .right-panel .content-tip-history .tips h4 {
  margin-left: -38px;
}
.content .info-block-football .left-panel .content-tip-history .score p,
.content .info-block-football .right-panel .content-tip-history .score p,
.content .info-block-tennis .left-panel .content-tip-history .score p,
.content .info-block-tennis .right-panel .content-tip-history .score p,
.content .info-block-basket .left-panel .content-tip-history .score p,
.content .info-block-basket .right-panel .content-tip-history .score p,
.content .info-block-volley .left-panel .content-tip-history .score p,
.content .info-block-volley .right-panel .content-tip-history .score p {
  margin-left: -20px;
}
.content .info-block-football .left-panel .content-tip-history .win-lose .win,
.content .info-block-football .left-panel .content-tip-history .win-lose .lose,
.content .info-block-football .right-panel .content-tip-history .win-lose .win,
.content .info-block-football .right-panel .content-tip-history .win-lose .lose,
.content .info-block-tennis .left-panel .content-tip-history .win-lose .win,
.content .info-block-tennis .left-panel .content-tip-history .win-lose .lose,
.content .info-block-tennis .right-panel .content-tip-history .win-lose .win,
.content .info-block-tennis .right-panel .content-tip-history .win-lose .lose,
.content .info-block-basket .left-panel .content-tip-history .win-lose .win,
.content .info-block-basket .left-panel .content-tip-history .win-lose .lose,
.content .info-block-basket .right-panel .content-tip-history .win-lose .win,
.content .info-block-basket .right-panel .content-tip-history .win-lose .lose,
.content .info-block-volley .left-panel .content-tip-history .win-lose .win,
.content .info-block-volley .left-panel .content-tip-history .win-lose .lose,
.content .info-block-volley .right-panel .content-tip-history .win-lose .win,
.content .info-block-volley .right-panel .content-tip-history .win-lose .lose {
  margin-top: -3px;
  margin-left: -20px;
  width: 50px;
  height: 20px;
  background-color: #a8e032;
  padding: 2px;
}
.content .info-block-football .left-panel .content-tip-history .win-lose .win p,
.content .info-block-football .left-panel .content-tip-history .win-lose .lose p,
.content .info-block-football .right-panel .content-tip-history .win-lose .win p,
.content .info-block-football .right-panel .content-tip-history .win-lose .lose p,
.content .info-block-tennis .left-panel .content-tip-history .win-lose .win p,
.content .info-block-tennis .left-panel .content-tip-history .win-lose .lose p,
.content .info-block-tennis .right-panel .content-tip-history .win-lose .win p,
.content .info-block-tennis .right-panel .content-tip-history .win-lose .lose p,
.content .info-block-basket .left-panel .content-tip-history .win-lose .win p,
.content .info-block-basket .left-panel .content-tip-history .win-lose .lose p,
.content .info-block-basket .right-panel .content-tip-history .win-lose .win p,
.content .info-block-basket .right-panel .content-tip-history .win-lose .lose p,
.content .info-block-volley .left-panel .content-tip-history .win-lose .win p,
.content .info-block-volley .left-panel .content-tip-history .win-lose .lose p,
.content .info-block-volley .right-panel .content-tip-history .win-lose .win p,
.content .info-block-volley .right-panel .content-tip-history .win-lose .lose p {
  font-family: 'GothamProBold';
  margin: 0px;
  text-transform: uppercase;
  color: #fff;
}
.content .info-block-football .left-panel .content-tip-history .win-lose .lose,
.content .info-block-football .right-panel .content-tip-history .win-lose .lose,
.content .info-block-tennis .left-panel .content-tip-history .win-lose .lose,
.content .info-block-tennis .right-panel .content-tip-history .win-lose .lose,
.content .info-block-basket .left-panel .content-tip-history .win-lose .lose,
.content .info-block-basket .right-panel .content-tip-history .win-lose .lose,
.content .info-block-volley .left-panel .content-tip-history .win-lose .lose,
.content .info-block-volley .right-panel .content-tip-history .win-lose .lose {
  background-color: #ff0000;
}
.content .info-block-football .left-panel .active-tip,
.content .info-block-football .right-panel .active-tip,
.content .info-block-tennis .left-panel .active-tip,
.content .info-block-tennis .right-panel .active-tip,
.content .info-block-basket .left-panel .active-tip,
.content .info-block-basket .right-panel .active-tip,
.content .info-block-volley .left-panel .active-tip,
.content .info-block-volley .right-panel .active-tip {
  background-color: #fff;
  height: 580px;
  width: 450px;
  margin-top: 30px;
  margin-left: 70px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list,
.content .info-block-football .right-panel .active-tip .active-tip-list,
.content .info-block-tennis .left-panel .active-tip .active-tip-list,
.content .info-block-tennis .right-panel .active-tip .active-tip-list,
.content .info-block-basket .left-panel .active-tip .active-tip-list,
.content .info-block-basket .right-panel .active-tip .active-tip-list,
.content .info-block-volley .left-panel .active-tip .active-tip-list,
.content .info-block-volley .right-panel .active-tip .active-tip-list {
  overflow: hidden;
  width: 450px;
  height: 215px;
  padding: 15px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team h4,
.content .info-block-football .left-panel .active-tip .active-tip-list .tips h4,
.content .info-block-football .left-panel .active-tip .active-tip-list .odd h4,
.content .info-block-football .left-panel .active-tip .active-tip-list .date h4,
.content .info-block-football .right-panel .active-tip .active-tip-list .team h4,
.content .info-block-football .right-panel .active-tip .active-tip-list .tips h4,
.content .info-block-football .right-panel .active-tip .active-tip-list .odd h4,
.content .info-block-football .right-panel .active-tip .active-tip-list .date h4,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team h4,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .tips h4,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .odd h4,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .date h4,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team h4,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .tips h4,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .odd h4,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .date h4,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team h4,
.content .info-block-basket .left-panel .active-tip .active-tip-list .tips h4,
.content .info-block-basket .left-panel .active-tip .active-tip-list .odd h4,
.content .info-block-basket .left-panel .active-tip .active-tip-list .date h4,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team h4,
.content .info-block-basket .right-panel .active-tip .active-tip-list .tips h4,
.content .info-block-basket .right-panel .active-tip .active-tip-list .odd h4,
.content .info-block-basket .right-panel .active-tip .active-tip-list .date h4,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team h4,
.content .info-block-volley .left-panel .active-tip .active-tip-list .tips h4,
.content .info-block-volley .left-panel .active-tip .active-tip-list .odd h4,
.content .info-block-volley .left-panel .active-tip .active-tip-list .date h4,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team h4,
.content .info-block-volley .right-panel .active-tip .active-tip-list .tips h4,
.content .info-block-volley .right-panel .active-tip .active-tip-list .odd h4,
.content .info-block-volley .right-panel .active-tip .active-tip-list .date h4 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'GothamProBold';
  margin-bottom: 10px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team p,
.content .info-block-football .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-football .left-panel .active-tip .active-tip-list .odd p,
.content .info-block-football .left-panel .active-tip .active-tip-list .date p,
.content .info-block-football .right-panel .active-tip .active-tip-list .team p,
.content .info-block-football .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-football .right-panel .active-tip .active-tip-list .odd p,
.content .info-block-football .right-panel .active-tip .active-tip-list .date p,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team p,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .odd p,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .date p,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team p,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .odd p,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .date p,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team p,
.content .info-block-basket .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-basket .left-panel .active-tip .active-tip-list .odd p,
.content .info-block-basket .left-panel .active-tip .active-tip-list .date p,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team p,
.content .info-block-basket .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-basket .right-panel .active-tip .active-tip-list .odd p,
.content .info-block-basket .right-panel .active-tip .active-tip-list .date p,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team p,
.content .info-block-volley .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-volley .left-panel .active-tip .active-tip-list .odd p,
.content .info-block-volley .left-panel .active-tip .active-tip-list .date p,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team p,
.content .info-block-volley .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-volley .right-panel .active-tip .active-tip-list .odd p,
.content .info-block-volley .right-panel .active-tip .active-tip-list .date p {
  margin: 0px;
  font-size: 12px;
  margin-bottom: 25px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-football .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-basket .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-basket .right-panel .active-tip .active-tip-list .tips p,
.content .info-block-volley .left-panel .active-tip .active-tip-list .tips p,
.content .info-block-volley .right-panel .active-tip .active-tip-list .tips p {
  margin-left: 8px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team,
.content .info-block-football .left-panel .active-tip .active-tip-list .tips,
.content .info-block-football .left-panel .active-tip .active-tip-list .odd,
.content .info-block-football .right-panel .active-tip .active-tip-list .team,
.content .info-block-football .right-panel .active-tip .active-tip-list .tips,
.content .info-block-football .right-panel .active-tip .active-tip-list .odd,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .tips,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .odd,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .tips,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .odd,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team,
.content .info-block-basket .left-panel .active-tip .active-tip-list .tips,
.content .info-block-basket .left-panel .active-tip .active-tip-list .odd,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team,
.content .info-block-basket .right-panel .active-tip .active-tip-list .tips,
.content .info-block-basket .right-panel .active-tip .active-tip-list .odd,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team,
.content .info-block-volley .left-panel .active-tip .active-tip-list .tips,
.content .info-block-volley .left-panel .active-tip .active-tip-list .odd,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team,
.content .info-block-volley .right-panel .active-tip .active-tip-list .tips,
.content .info-block-volley .right-panel .active-tip .active-tip-list .odd {
  padding: 0px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-football .right-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team .unlock,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team .unlock {
  margin-top: -8px;
  padding: 7px;
  background-color: #a8e032;
  width: 130px;
  height: 30px;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-football .right-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team .unlock p,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team .unlock p {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'GothamProBold';
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-football .right-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team .unlock-football,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team .unlock-football {
  background-color: #a8e032;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-football .right-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team .unlock-tennis,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team .unlock-tennis {
  background-color: #f5d10a;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-football .right-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team .unlock-basket,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team .unlock-basket {
  background-color: #faa71a;
}
.content .info-block-football .left-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-football .right-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-tennis .left-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-tennis .right-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-basket .left-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-basket .right-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-volley .left-panel .active-tip .active-tip-list .team .unlock-volley,
.content .info-block-volley .right-panel .active-tip .active-tip-list .team .unlock-volley {
  background-color: #23c4f4;
}
.content .info-block-football .left-panel .active-tip .get-active-tip-footbal,
.content .info-block-football .right-panel .active-tip .get-active-tip-footbal,
.content .info-block-tennis .left-panel .active-tip .get-active-tip-footbal,
.content .info-block-tennis .right-panel .active-tip .get-active-tip-footbal,
.content .info-block-basket .left-panel .active-tip .get-active-tip-footbal,
.content .info-block-basket .right-panel .active-tip .get-active-tip-footbal,
.content .info-block-volley .left-panel .active-tip .get-active-tip-footbal,
.content .info-block-volley .right-panel .active-tip .get-active-tip-footbal {
  background-color: #a8e032;
}
.content .info-block-football .left-panel .active-tip .get-active-tip-tennis,
.content .info-block-football .right-panel .active-tip .get-active-tip-tennis,
.content .info-block-tennis .left-panel .active-tip .get-active-tip-tennis,
.content .info-block-tennis .right-panel .active-tip .get-active-tip-tennis,
.content .info-block-basket .left-panel .active-tip .get-active-tip-tennis,
.content .info-block-basket .right-panel .active-tip .get-active-tip-tennis,
.content .info-block-volley .left-panel .active-tip .get-active-tip-tennis,
.content .info-block-volley .right-panel .active-tip .get-active-tip-tennis {
  background-color: #f5d10a;
}
.content .info-block-football .left-panel .active-tip .get-active-tip-basket,
.content .info-block-football .right-panel .active-tip .get-active-tip-basket,
.content .info-block-tennis .left-panel .active-tip .get-active-tip-basket,
.content .info-block-tennis .right-panel .active-tip .get-active-tip-basket,
.content .info-block-basket .left-panel .active-tip .get-active-tip-basket,
.content .info-block-basket .right-panel .active-tip .get-active-tip-basket,
.content .info-block-volley .left-panel .active-tip .get-active-tip-basket,
.content .info-block-volley .right-panel .active-tip .get-active-tip-basket {
  background-color: #faa71a;
}
.content .info-block-football .left-panel .active-tip .get-active-tip-volley,
.content .info-block-football .right-panel .active-tip .get-active-tip-volley,
.content .info-block-tennis .left-panel .active-tip .get-active-tip-volley,
.content .info-block-tennis .right-panel .active-tip .get-active-tip-volley,
.content .info-block-basket .left-panel .active-tip .get-active-tip-volley,
.content .info-block-basket .right-panel .active-tip .get-active-tip-volley,
.content .info-block-volley .left-panel .active-tip .get-active-tip-volley,
.content .info-block-volley .right-panel .active-tip .get-active-tip-volley {
  background-color: #23c4f4;
}
.content .info-block-football .left-panel .active-tip .get-active-tip,
.content .info-block-football .right-panel .active-tip .get-active-tip,
.content .info-block-tennis .left-panel .active-tip .get-active-tip,
.content .info-block-tennis .right-panel .active-tip .get-active-tip,
.content .info-block-basket .left-panel .active-tip .get-active-tip,
.content .info-block-basket .right-panel .active-tip .get-active-tip,
.content .info-block-volley .left-panel .active-tip .get-active-tip,
.content .info-block-volley .right-panel .active-tip .get-active-tip {
  width: 450px;
  height: 365px;
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.content .info-block-football .left-panel .active-tip .get-active-tip .title-text,
.content .info-block-football .right-panel .active-tip .get-active-tip .title-text,
.content .info-block-tennis .left-panel .active-tip .get-active-tip .title-text,
.content .info-block-tennis .right-panel .active-tip .get-active-tip .title-text,
.content .info-block-basket .left-panel .active-tip .get-active-tip .title-text,
.content .info-block-basket .right-panel .active-tip .get-active-tip .title-text,
.content .info-block-volley .left-panel .active-tip .get-active-tip .title-text,
.content .info-block-volley .right-panel .active-tip .get-active-tip .title-text {
  color: #fff;
  font-size: 25px;
  font-family: 'GothamProLight';
  margin-bottom: 20px;
}
.content .info-block-football .left-panel .active-tip .get-active-tip button,
.content .info-block-football .right-panel .active-tip .get-active-tip button,
.content .info-block-tennis .left-panel .active-tip .get-active-tip button,
.content .info-block-tennis .right-panel .active-tip .get-active-tip button,
.content .info-block-basket .left-panel .active-tip .get-active-tip button,
.content .info-block-basket .right-panel .active-tip .get-active-tip button,
.content .info-block-volley .left-panel .active-tip .get-active-tip button,
.content .info-block-volley .right-panel .active-tip .get-active-tip button {
  width: 340px;
  height: 150px;
  border: none;
  inline: none;
  background-color: #ffffff;
  transition: 0.3s;
  text-transform: uppercase;
  margin: 0px;
  font-size: 40px;
  font-family: 'GothamProBold';
}
.content .info-block-football .left-panel .active-tip .get-active-tip button:hover,
.content .info-block-football .right-panel .active-tip .get-active-tip button:hover,
.content .info-block-tennis .left-panel .active-tip .get-active-tip button:hover,
.content .info-block-tennis .right-panel .active-tip .get-active-tip button:hover,
.content .info-block-basket .left-panel .active-tip .get-active-tip button:hover,
.content .info-block-basket .right-panel .active-tip .get-active-tip button:hover,
.content .info-block-volley .left-panel .active-tip .get-active-tip button:hover,
.content .info-block-volley .right-panel .active-tip .get-active-tip button:hover {
  background-color: rgba(255,255,255,0.9);
}
.content .info-block-football .left-panel .active-tip .get-active-tip .button-text,
.content .info-block-football .right-panel .active-tip .get-active-tip .button-text,
.content .info-block-tennis .left-panel .active-tip .get-active-tip .button-text,
.content .info-block-tennis .right-panel .active-tip .get-active-tip .button-text,
.content .info-block-basket .left-panel .active-tip .get-active-tip .button-text,
.content .info-block-basket .right-panel .active-tip .get-active-tip .button-text,
.content .info-block-volley .left-panel .active-tip .get-active-tip .button-text,
.content .info-block-volley .right-panel .active-tip .get-active-tip .button-text {
  text-transform: lowercase;
  font-size: 15px;
  margin-top: -55px;
  margin-bottom: 55px;
}
.content .info-block-football .left-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-football .right-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-tennis .left-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-tennis .right-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-basket .left-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-basket .right-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-volley .left-panel .active-tip .get-active-tip .Pay-SMS,
.content .info-block-volley .right-panel .active-tip .get-active-tip .Pay-SMS {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'GothamProLight';
  transition: 0.3s;
}
.content .info-block-football .left-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-football .right-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-tennis .left-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-tennis .right-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-basket .left-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-basket .right-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-volley .left-panel .active-tip .get-active-tip .Pay-SMS:hover,
.content .info-block-volley .right-panel .active-tip .get-active-tip .Pay-SMS:hover {
  cursor: pointer;
  text-decoration: none;
  color: #B3B3B3;
}
.content .how-it-works {
  padding: 65px;
}
.content .how-it-works .how-it h3 {
  margin: 0px;
  text-transform: uppercase;
  font-family: 'GothamProBold';
}
.content .how-it-works .how-it hr {
  position: absolute;
  width: 250px;
  margin-top: 10px;
  border: none;
  height: 5px;
}
.content .how-it-works .how-it .football-hr {
  background-color: #a8e032;
}
.content .how-it-works .how-it .tennis-hr {
  background-color: #f5d10a;
}
.content .how-it-works .how-it .basket-hr {
  background-color: #faa71a;
}
.content .how-it-works .how-it .volley-hr {
  background-color: #23c4f4;
}
.content .how-it-works .how-it p {
  margin-top: 35px;
  font-size: 12px;
}
.content .how-it-works .start-with h3 {
  margin: 0px;
  font-family: 'GothamProLight';
  font-size: 18px;
  margin-top: 65px;
  margin-left: 205px;
}
.content .how-it-works .start-with .start-cash {
  margin-left: 180px;
  margin-top: 10px;
  width: 210px;
  height: 120px;
  border: 15px solid #dfdfdf;
  padding: 15px;
}
.content .how-it-works .start-with .start-cash p {
  font-size: 48px;
  font-family: 'GothamProBold';
}
.content .how-it-works .get-after-days h3 {
  margin: 0px;
  text-transform: uppercase;
  font-family: 'GothamProBold';
  font-size: 18px;
  margin-top: 5px;
  margin-left: 35px;
}
.content .how-it-works .get-after-days .after-days-cash {
  padding: 30px;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 10px;
  margin-left: 45px;
  width: 310px;
  height: 180px;
  border: 25px solid #dfdfdf;
}
.content .how-it-works .get-after-days .after-days-cash p {
  font-size: 55px;
  font-family: 'GothamProBold';
}
.content .how-it-works .get-after-days .footbal {
  color: #a8e032;
}
.content .how-it-works .get-after-days .tennis {
  color: #f5d10a;
}
.content .how-it-works .get-after-days .basket {
  color: #faa71a;
}
.content .how-it-works .get-after-days .volley {
  color: #23c4f4;
}
.content .how-it-works .get-after-days .footbal-days {
  border: 25px solid #a8e032;
}
.content .how-it-works .get-after-days .tennis-days {
  border: 25px solid #f5d10a;
}
.content .how-it-works .get-after-days .basket-days {
  border: 25px solid #faa71a;
}
.content .how-it-works .get-after-days .volley-days {
  border: 25px solid #23c4f4;
}
.footer {
  width: 1280px;
  padding: 0px;
}
.footer ul {
  margin-left: -35px;
  padding: 0px;
  list-style: none;
}
.footer ul li {
  margin-left: 30px;
  display: inline-block;
}
.footer ul li a {
  font-size: 40px;
  color: #CCCCCC;
  transition: 0.3s;
}
.footer ul li a:hover {
  color: #909090;
}
.footer p {
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.footer .contacts {
  font-size: 16px;
}
.footer .phone {
  margin-bottom: 40px;
}
