@font-face {
    font-family: 'GothamProLight';
    src: url('fonts/GothamProLight.ttf');
}

@font-face {
    font-family: 'GothamProBold';
    src: url('fonts/GothamProBold.ttf');
}

@green: #a8e032;
@yellow: #f5d10a;
@orange: #faa71a;
@blue: #23c4f4;

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #E4E4E4;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #626262; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}

body {
    font-family: 'GothamProLight', serif;
}

.main {
    padding: 0px;
}

.header {
    width: 1280px;
    padding: 0px;
    background-color: #f1f2f2;
    height: 630px;

    .img-football,
    .img-basketball,
    .img-tennis {
        margin-top: 120px;
    }

    .img-basketball, .img-tennis {
        margin-left: -5px;
    }

    .img-logo {
        float: right;
        margin-right: 80px;
        margin-top: 60px;
    }

    .welcome {
        height: 80px;
        width: 375px;
        float: right;
        padding: 10px;
        margin-top: 205px;
        margin-right: -362px;

        p {
            font-family: 'GothamProLight';
            font-size: 22px;
        }
    }

    .richer {
        float: right;
        background-color: @green;
        width: 350px;
        height: 140px;
        margin-top: 310px;
        margin-right: -365px;
        padding: 40px 10px 25px 10px;

        i {
            font-size: 55px;
            color: #ffffff;
            span {
                font-family: 'GothamProBold';
                font-size: 62px;
            }
        }

        p {
            font-family: 'GothamProLight';
            font-size: 27px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    .download {
        float: right;
        margin-top: 450px;
        margin-right: -370px;
        width: 360px;
        height: 50px;
        padding: 10px;
        p {
            font-family: 'GothamProLight';
            font-size: 19px;
        }
    }

    .img-google {
        float: right;
        margin-top: 515px;
        margin-right: -185px;
        opacity: 1;
        transition: 0.3s;
    }

    .img-apple {
        float: right;
        margin-top: 515px;
        margin-right: -370px;
        opacity: 1;
        transition: 0.3s;
    }

    .img-apple:hover,
    .img-google:hover {
        opacity: 0.85;
    }

    .mobile-block {
        padding: 0px;
        .img-mobile {
            margin: 0 auto;
            margin-top: -545px;
        }
    }
}

.container-fluid.main {
    padding-top: 80px;
}

.fixed-menu {
    font-family: 'GothamProLight';
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    z-index: 999;

    a.logo {
        cursor: pointer;
        display: block;
        width: 264px;
        height: 80px;
        background: url("img/header/logo.png") center center;
        float: left;
    }

    ul {
        float: right;
        list-style: none;
        padding: 0;
        width: 50%;

        li {
            float: left;
            font-size: 20px;
            margin-left: 26px;

            a {
                color: #000 !important;
                text-decoration: none !important;
                display: block;
                height: 60px;
                line-height: 80px;
                outline: none !important;

                &:hover, &.active {
                    border-bottom: 2px solid @green;
                }
            }
        }
    }
}

.content {
    padding: 0px;
    width: 1280px;

    .content-title {
        padding-top: 100px;
        h1 {
            text-transform: uppercase;
            font-family: 'GothamProBold';
            margin: 0px;
            padding: 0px;
            font-size: 25px;
        }

        hr {
            width: 290px;
            margin-top: 14px;
            border: none;
            height: 5px;
        }

        .football-hr {
            background-color: @green;
        }

        .tennis-hr {
            background-color: @yellow;
        }

        .basketball-hr {
            background-color: @orange;
        }

        .volleyball-hr {
            background-color: @blue;
        }
    }

    .menu {
        ul {
            padding: 0px;
            list-style: none;
            a {
                color: #000;
                li {
                    padding: 7px 5px 7px 5px;
                    display: inline-block;
                    width: 240px;
                    height: 75px;
                    border: 10px solid #fff;
                    transition: 0.3s;

                    img {
                        margin-top: -15px;
                    }

                    span {
                        font-size: 30px;
                    }
                }

                .footbal-active {
                    border: 10px solid @green;
                }

                .tennis-active {
                    border: 10px solid @yellow;
                }

                .basketball-active {
                    border: 10px solid @orange;
                }

                .volleyball-active {
                    border: 10px solid @blue;
                }
            }
        }

        a:hover {
            color: #000;
            text-decoration: none;
            li {
                border: 10px solid #dadada;
            }
        }
    }

    .info-block-football {
        background:url(img/background/foot_back.jpg) no-repeat #fff center top;
    }

    .info-block-tennis {
        background:url(img/background/tennis_back.jpg) no-repeat #fff center top;
    }

    .info-block-basketball {
        background:url(img/background/basket_back.jpg) no-repeat #fff center top;
    }

    .info-block-volleyball {
        background:url(img/background/volley_back.jpg) no-repeat #fff center top;
    }

    .info-block-football, .info-block-tennis,
    .info-block-basketball, .info-block-volleyball {
        height: 745px;
        .left-panel, .right-panel {
            padding: 0px;
            .title {
                h2 {
                    margin: 0px;
                    font-size: 25px;
                    text-transform: uppercase;
                    font-family: 'GothamProBold';
                    margin-top: 45px;
                }

                hr {
                    position: absolute;
                    width: 290px;
                    margin-top: 10px;
                    border: none;
                    height: 5px;
                }

                h2, hr {
                    margin-left: 95px;
                }

                .hr-left {
                    width: 235px;
                }

                .hr-right {
                    width: 165px;
                }

                .hr-left-football, .hr-right-football {
                    background-color: @green;
                }

                .hr-left-tennis, .hr-right-tennis {
                    background-color: @yellow;
                }

                .hr-left-basketball, .hr-right-basketball {
                    background-color: @orange;
                }

                .hr-left-volleyball, .hr-right-volleyball {
                    background-color: @blue;
                }
            }

            .title-tip-history {
                padding: 15px;
                width: 560px;
                height: 10px;
                background-color: #fff;
                margin-top: 30px;
                margin-left: 70px;

                .date, .team, .tips,
                .odd, .score, .win-lose {
                    h4 {
                        margin: 0px;
                        text-transform: uppercase;
                        font-size: 11px;
                        font-family: 'GothamProBold';
                    }
                }

                .tips {
                    h4 {
                        margin-left: -8px;
                    }
                }

                .team, .tips,
                .odd, .score, .win-lose {
                    padding: 0px;
                }

                .tips, .odd, .score {
                    h4 {
                        margin-left: -30px;
                    }
                }

                .tips {
                    h4 {
                        margin-left: -38px;
                    }
                }
            }

            .content-tip-history {
                overflow: auto;
                padding: 15px;
                width: 560px;
                height: 500px;
                background-color: #fff;
                margin-top: 0px;
                margin-left: 70px;

                .date, .team, .tips,
                .odd, .score, .win-lose {
                    p {
                        margin: 0px;
                        font-size: 12px;
                        margin-bottom: 25px;
                    }
                }

                .team, .tips,
                .odd, .score, .win-lose {
                    padding: 0px;
                }

                .tips, .odd, .score {
                    h4, p {
                        margin-left: -30px;
                    }
                }

                .tips {
                    h4 {
                        margin-left: -38px;
                    }
                }

                .score {
                    p {
                        margin-left: -20px;
                    }
                }

                .win-lose {
                    .win, .lose {
                        margin-top: 5px;
                        margin-left: -20px;
                        width: 50px;
                        height: 30px;
                        background-color: @green;
                        padding: 2px;
                        font-family: 'GothamProBold';
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 12px;
                        line-height: 28px;
                    }

                    .lose {
                        background-color: #ff0000;
                    }
                }
            }

            .active-tip {
                background-color: #fff;
                height: auto;
                max-height: 530px;
                width: 450px;
                margin-top: 30px;
                margin-left: 70px;
                overflow-y: auto;
                    overflow-x: hidden;

                .active-tip-list {
                    width: 450px;
                    height: auto;
                    padding: 15px;

                    .team, .tips,
                    .odd, .date {
                        h4 {
                            margin: 0px;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-family: 'GothamProBold';
                            margin-bottom: 10px;
                        }

                        p {
                            margin: 0px;
                            font-size: 12px;
                            margin-bottom: 25px;
                        }
                    }

                    .tips {
                        p {
                            margin-left: 8px;
                        }
                    }

                    .team, .tips,
                    .odd {
                        padding: 0px;
                    }

                    .team {
                        .unlock {
                            margin-top: -8px;
                            padding: 7px;
                            background-color: @green;
                            width: 130px;
                            height: 30px;
                            p {
                                font-size: 12px;
                                text-transform: uppercase;
                                color: #fff;
                                font-family: 'GothamProBold';
                            }
                        }

                        .unlock-football {
                            background-color: @green;
                        }

                        .unlock-tennis {
                            background-color: @yellow;
                        }

                        .unlock-basketball {
                            background-color: @orange;
                        }

                        .unlock-volleyball {
                            background-color: @blue;
                        }
                    }
                }

                .get-active-tip-football{
                    background-color: @green;
                }

                .get-active-tip-tennis {
                    background-color: @yellow;
                }

                .get-active-tip-basketball {
                    background-color: @orange;
                }

                .get-active-tip-volleyball {
                    background-color: @blue;
                }

                .get-active-tip {
                    width: 450px;
                    height: 365px;
                    padding: 60px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    .title-text {
                        color: #fff;
                        font-size: 25px;
                        font-family: 'GothamProLight';
                        margin-bottom: 20px;
                    }

                    h1 {
                        color: #fff;
                        font-family: 'GothamProBold';
                        text-transform: uppercase;
                        margin-top: 60px;
                    }

                    .button {
                        width: 340px;
                        height: 150px;
                        border: none;
                        inline: none;
                        display: block;
                        line-height: 143px;
                        text-decoration: none !important;
                        color: #000 !important;
                        background-color: rgba(255, 255, 255, 1);
                        transition: 0.3s;
                        text-transform: uppercase;
                        margin: 0px;
                        font-size: 40px;
                        cursor: pointer;
                        font-family: 'GothamProBold';
                    }

                    .button:hover {
                        background-color: rgba(255, 255, 255, 0.9);
                    }

                    .button-text {
                        text-transform: lowercase;
                        font-size: 15px;
                        margin-top: -55px;
                        margin-bottom: 55px;
                    }

                    .Pay-SMS {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-family: 'GothamProLight';
                        transition: 0.3s;
                    }

                    .Pay-SMS:hover {
                        cursor: pointer;
                        text-decoration: none;
                        color: #B3B3B3;
                    }
                }
            }
        }
    }

    .how-it-works {
        padding: 65px;
        background: #f6f7f7;

        .how-it {

            h3 {
                margin: 0px;
                text-transform: uppercase;
                font-family: 'GothamProBold';
            }

            hr {
                position: absolute;
                width: 250px;
                margin-top: 10px;
                border: none;
                height: 5px;
            }

            .football-hr {
                background-color: @green;
            }

            .tennis-hr {
                background-color: @yellow;
            }

            .basketball-hr {
                background-color: @orange;
            }

            .volleyball-hr {
                background-color: @blue;
            }

            p {
                margin-top: 35px;
                font-size: 14px;
            }
        }

        .start-with {
            h3 {
                margin: 0px;
                font-family: 'GothamProLight';
                font-size: 18px;
                margin-top: 65px;
                margin-left: 205px;
            }

            .start-cash {
                margin-left: 180px;
                margin-top: 10px;
                width: 210px;
                height: 120px;
                border: 15px solid #dfdfdf;
                padding: 15px;
                p {
                    font-size: 48px;
                    font-family: 'GothamProBold';
                }
            }
        }

        .get-after-days {
            h3 {
                margin: 0px;
                text-transform: uppercase;
                font-family: 'GothamProBold';
                font-size: 18px;
                margin-top: 5px;
                margin-left: 35px;

            }

            .after-days-cash {
                padding: 30px;
                padding-right: 0px;
                padding-left: 0px;
                margin-top: 10px;
                margin-left: 45px;
                width: 310px;
                height: 180px;
                border: 25px solid #dfdfdf;
                p {
                    font-size: 55px;
                    font-family: 'GothamProBold';
                }
            }

            .footbal {
                color: @green;
            }

            .tennis {
                color: @yellow;
            }

            .basketball {
                color: @orange;
            }

            .volleyball {
                color: @blue;
            }

            .football-days {
                border: 25px solid @green;
            }

            .tennis-days {
                border: 25px solid @yellow;
            }

            .basketball-days {
                border: 25px solid @orange;
            }

            .volleyball-days {
                border: 25px solid @blue;
            }
        }
    }
}

.footer {
    width: 1280px;
    padding: 0px;
    padding-top: 20px;
    background: #f6f7f7;

    .footer-menu {
        text-align: center;
        li {
            display: inline;
            font-family: 'GothamProLight';

            a {
                color: #000 !important;
                text-decoration: none !important;
                font-size: 18px;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }

    ul {
        margin-left: -35px;
        padding: 0px;
        list-style: none;
        li {
            margin-left: 30px;
            display: inline-block;
            a {
                font-size: 40px;
                color: #CCCCCC;
                transition: 0.3s;
            }

            a:hover {
                color: #909090;
            }
        }
    }

    p {
        margin-bottom: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .contacts {
        font-size: 16px;
    }

    .phone {
        margin-bottom: 40px;
    }
}


#football-graph   { color: @green;  }
#tennis-graph     { color: @yellow; }
#basketball-graph { color: @orange; }
#volleyball-graph { color: @blue;   }

.content-tip-history .team {
    padding-right: 35px !important;
}

.social-row {
    height: 70px;
    padding-left: 56px;
}

.socials {
    padding-top: 20px;
}

.social {
    width: 64px;
    height: 64px;
    background: url("img/socials.png") no-repeat;
    float: left;
    opacity: 0.85;
    transition: 0.3s opacity;
    margin-left: 6px;

    &:hover {
        opacity: 1;
    }

    &.vk      { background-position: -64px   0; }
    &.fb      { background-position: -64px*2 0; }
    &.twitter { background-position: -64px*3 0; }
    &.google  { background-position: -64px*4 0; }
    &.ok      { background-position: -64px*5 0; }
}

// Buy modal

.modal-dialog, .modal-content {
    border-radius: 0px;
    border: none;
    width: 660px;

    .close-btn {
        width: 27px;
        height: 27px;
        background: url("img/close.png");
        opacity: 0.75;
        transition: 0.3s opacity;
        position: absolute;
        right: 22px;
        top: 22px;

        &:hover {
            opacity: 1;
        }
    }
}

.modal-header {
    height: 74px;
    padding: 0px;
    background: #f5f5f5;
    border: none;
    padding: 25px;
    color: #000;
    font-family: 'GothamProLight';
    font-size: 13px;
    text-transform: capitalize;

    .upper {
        text-transform: uppercase;
    }
}

.price-label {
    text-transform: uppercase;
    font-family: 'GothamProLight';
    font-size: 28px;
}

.price-val {
    text-transform: uppercase;
    font-family: 'GothamProLight';
    font-size: 40px;
}

#btc-address {
    background: none;
    border: none;
    font-family: 'GothamProBold';
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#paid {
    font-size: 20px;
    font-family: 'GothamProBold';
    background: @green;
    color: #fff;
    width: 170px;
    padding: 25px;
    opacity: 1;
    transition: 0.3s opacity;
    padding: 10px !important;
    outline: none !important;

    &:hover {
        opacity: 0.75;
    }
}

.modal-error {
    color: #f00;
    padding: 70px;
    text-align: center;
    font-family: 'GothamProLight';
    font-size: 40px;
}

.loading {
    font-family: 'GothamProLight';
    color: #000;
    text-align: center;
    font-size: 40px;
    padding: 70px;
}

.forecast-details {

    .modal-title {
        text-align: center;
        position: relative;
        font-family: 'GothamProLight';
        font-size: 24px;
    }

    .modal-header {
        padding-top: 20px;
    }

    .modal-dialog, .modal-content {
        border-radius: 0px;
        border: none;
        width: 580px;
    }

    i {
        /*width: 31px;
        height: 31px;
        background: #000;
        position: absolute;
        border-radius: 50%;
        left: 50%;*/
        width: 31px;
        position: relative;
        display: inline-block;
        margin-right: 10px;

        &::before {
            content: "";
            width: 31px;
            height: 31px;
            background: #000;
            position: absolute;
            border-radius: 50%;
            display: block;
            top: -23px;
        }

        &.football::before   { background: @green  url("img/menu/football_small.png  ") no-repeat center center; }
        &.basketball::before { background: @orange url("img/menu/basketball_small.png") no-repeat center center; }
        &.tennis::before     { background: @yellow url("img/menu/tennis_small.png    ") no-repeat center center; }
        &.volleyball::before { background: @blue   url("img/menu/volleyball_small.png") no-repeat center center; }
    }

    .datetime {
        text-align: center;
        font-family: 'GothamProLight';
        font-size: 18px;
    }

    .col {
        text-align: center;
    }

    h2 {
        font-family: 'GothamProBold';
        font-size: 18px;
        text-transform: uppercase;
    }

    h3 {
        font-family: 'GothamProLight';
        font-size: 18px;
    }

    h1 {
        color: #fff;
        font-family: 'GothamProBold';
        font-size: 18px;
        text-align: center;
        padding: 12px 0 10px 0;

        &.football   { background: @green;  }
        &.basketball { background: @orange; }
        &.tennis     { background: @yellow; }
        &.volleyball { background: @blue;   }
    }

    .row {
        position: relative;
    }

    .odd {
        font-family: 'GothamProLight';
        font-size: 36px;
        position: absolute;
        width: 100px;
        text-align: center;
        top: 112px;
        left: 50%;
        margin-left: -50px;
    }

    .modal-tips {
        padding: 10px 0 15px 0;

        div {
            text-align: center;
            padding: 5px;
            font-family: 'GothamProLight';
            font-size: 16px;
        }
    }
}

.row[data-toggle=modal] {
    cursor: pointer;
    &:hover { background: #eee; }

    p {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }
}

#feedback-form {
    float: left;
    padding: 65px;
    padding-top: 120px;

    h3 {
        margin: 0;
        text-transform: uppercase;
        font-family: 'GothamProBold';
    }

    hr {
        width: 250px;
        margin-top: 10px;
        border: none;
        height: 5px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 17.3px;
    }

    .football-hr { background-color: @green; }
    .tennis-hr { background-color: @yellow; }
    .basketball-hr { background-color: @orange; }
    .volleyball-hr { background-color: @blue; }

    input[type="text"], input[type="email"], input[type="tel"] {
        display: block;
        width: 100%;
        border: 5px solid #ddd;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 5px 10px;
        outline: none !important;
        font-size: 22px;
        color: #000;

        &.football:focus { border-color: @green; }
        &.basketball:focus { border-color: @orange; }
        &.tennis:focus { border-color: @yellow; }
        &.volleyball:focus { border-color: @blue; }
        &.hockey:focus { border-color: @blue; }

        &.has-error {
            border-color: #f3a4a2;
            background: #ffe3e2;
        }
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        opacity: 0.75;
        transition: .3s opacity;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        font-family: 'GothamProBold';
        outline: none !important;
        color: #fff;
        padding: 17px 0 15px;
        font-size: 22px;
        margin-top: 100px;

        &.football { background: @green; }
        &.basketball { background: @orange; }
        &.tennis { background: @yellow; color: #000; }
        &.volleyball { background: @blue; }
        &.hockey { background: @blue; }

        &:hover {
            opacity: 1;
        }
    }

    .checkbox {
        width: 32px;
        height: 32px;
        background: url("img/checkbox.png") no-repeat -4px -4px;
        border: 4px solid;
        float: left;
        margin-right: 10px;

        &.football { border-color: @green; }
        &.basketball { border-color: @orange; }
        &.tennis { border-color: @yellow; }
        &.volleyball { border-color: @blue; }
        &.hockey { border-color: @blue; }

        input[type="checkbox"] {
            display: none;
        }

        &.checked {
            background-position: -4px -36px;
        }
    }

    label {
        position: absolute;
        width: 480px;
        border: 1px solid #fff;
        margin: -1px;

        .text {
            padding-top: 5px;
            float: left;
        }

        &.has-error {
            // border-color: #f3a4a2;
        }
    }

    ul {
        list-style: none;
        padding: 0px;
    }

    .error { color: #ac2925; }
    .success { color: #008800; }
}

#right-store-links {
    float: left;
    padding-top: 100px;

    a {
        display: block;
        margin: 45px 200px;
        width: 289px;
        height: 84px;
        background: url("img/big-store-buttons.png") no-repeat;
        opacity: 0.85;
        transition: .3s opacity;

        &.apple {
            background-position: 0 -84px;
        }

        &:hover {
            opacity: 1;
        }
    }
}
