{% extends 'main.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load sports_extras %}
{% load humanize %}

{% block richer_label %}
    {{ richer }}
{% endblock %}

{% block content %}
     <div id="tips" class="col-xs-12 col-sm-12 content-title text-center">
        <h1>choose your sport</h1>
        <hr class="{{ sport }}-hr">
    </div>
    <div class="col-xs-12 col-sm-12 menu text-center">
        <ul>
            <a href="/football/#tips">
                <li class="footbal{% if sport == 'football' %}-active{% endif %}"><img src="{% static  'img/menu/football.png' %}"><span>&nbsp;Football</span></li>
            </a>
            <a href="/tennis/#tips">
                <li class="tennis{% if sport == 'tennis' %}-active{% endif %}"><img src="{% static  'img/menu/tennis.png' %}"><span>&nbsp;Tennis</span></li>
            </a>
            <a href="/basketball/#tips">
                <li class="basketball{% if sport == 'basketball' %}-active{% endif %}"><img src="{% static  'img/menu/basketball.png' %}"><span>&nbsp;Basketball</span></li>
            </a>
            <a href="/volleyball/#tips">
                <li class="volleyball{% if sport == 'volleyball' %}-active{% endif %}"><img src="{% static  'img/menu/volleyball.png' %}"><span>&nbsp;Hockey</span></li>
            </a>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 info-block-{{ sport }}">
        <div class="row">
            <div class="col-xs-6 col-sm-6 left-panel">
                <div class="col-xs-12 col-sm-12 title" id="tip-history" offset="-60">
                    <h2>our tip history</h2>
                    <hr class=" hr-left hr-left-{{ sport }}">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="title-tip-history">
                        <div class="row">
                             <div class="col-xs-3 col-sm-3 date">
                                <h4>Date</h4>
                             </div>
                             <div class="col-xs-6 col-sm-6 team">
                                <h4>Team</h4>
                             </div>
                             <div class="col-xs-1 col-sm-1 tips">
                                <h4>tips</h4>
                             </div>
                             <div class="col-xs-1 col-sm-1 odd">
                                <h4>odd</h4>
                             </div>
                             <div class="col-xs-1 col-sm-1 win-lose">
                             </div>
                        </div>
                    </div>
                    <div class="content-tip-history">
                        {% for item in history %}
                            <div class="row" data-toggle="modal" data-target="#history-modal-{{ item.forecast.id }}">
                                 <div class="col-xs-3 col-sm-3 date">
                                    <p>{{ item.forecast.datetime|date:"d M H:i" }}</p>
                                 </div>
                                 <div class="col-xs-6 col-sm-6 team">
                                    <p>{{ item.forecast.player_1|get_player_lang:"us" }} - {{ item.forecast.player_2|get_player_lang:"us" }}</p>
                                 </div>
                                 <div class="col-xs-1 col-sm-1 tips">
                                    <p>{{ item.forecast|get_lang_tips:"us"|length }}</p>
                                </div>
                                 <div class="col-xs-1 col-sm-1 odd">
                                    <p>{{ item.forecast.odd }}</p>
                                 </div>
                                 <div class="col-xs-1 col-sm-1 win-lose">
                                    <div class="{% if item.win %}win{% else %}lose{% endif %} text-center">
                                        {% if item.win %}win{% else %}lose{% endif %}
                                    </div>
                                 </div>
                            </div>

                            <div class="modal fade forecast-details" id="history-modal-{{ item.forecast.id }}">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel"><i class="{{ sport }}"></i>{{ sport }}</h4>
                                    <a href="#" class="close-btn" data-dismiss="modal"></a>
                                  </div>
                                  <div class="modal-body">
                                    <div class="datetime">{{ item.forecast.datetime|date:"M d, H:i" }}</div>
                                    <div class="row">
                                        <div class="odd">{{ item.forecast.odd }}</div>
                                        <div class="col-xs-6 col">
                                            <h2>Home</h2>
                                            {% thumbnail item.forecast.player_1.image "180x180" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                            <h3>{{ item.forecast.player_1 }}<h3>
                                        </div>
                                        <div class="col-xs-6 col">
                                            <h2>Away</h2>
                                            {% thumbnail item.forecast.player_2.image "180x180" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                            <h3>{{ item.forecast.player_2 }}<h3>
                                        </div>
                                    </div>
                                  </div>
                                  <h1 class="{{ sport }}">TIPS</h1>
                                  <div class="modal-tips">
                                      {% for tip in item.forecast|get_lang_tips:"us" %}
                                        <div>{{ tip.text }}</div>
                                      {% endfor %}
                                  </div>
                                </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 right-panel">
                <div class="col-xs-12 col-sm-12 title">
                    <h2>active tips</h2>
                    <hr class=" hr-right hr-right-{{ sport }}">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="active-tip">
                        <div class="active-tip-list">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 date">
                                    <h4>Date</h4>
                                </div>
                                <div class="col-xs-4 col-sm-4 team">
                                    <h4>Team</h4>
                                </div>
                                <div class="col-xs-2 col-sm-2 tips">
                                    <h4>tips</h4>
                                </div>
                                <div class="col-xs-2 col-sm-2 odd">
                                    <h4>odd</h4>
                                </div>
                            </div>

                            {% if forecasts|length > 0 %}
                                {% for item in forecasts %}
                                    <div class="row" data-toggle="modal" data-target="#forecast-modal-{{ item.id }}">
                                         <div class="col-xs-4 col-sm-4 date">
                                            <p>{{ item.datetime|date:"d M H:i" }}</p>
                                         </div>
                                         <div class="col-xs-4 col-sm-4 team">
                                            <p>{{ item.player_1|get_player_lang:"us" }} - {{ item.player_2|get_player_lang:"us" }}</p>
                                         </div>
                                         <div class="col-xs-2 col-sm-2 tips">
                                            <p>{{ item|get_lang_tips:"us"|length }}</p>
                                         </div>
                                         <div class="col-xs-2 col-sm-2 odd">
                                            <p>{{ item.odd }}</p>
                                         </div>
                                    </div>

                                    <div class="modal fade forecast-details" id="forecast-modal-{{ item.id }}">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"><i class="{{ sport }}"></i>{{ sport }}</h4>
                                            <a href="#" class="close-btn" data-dismiss="modal"></a>
                                          </div>
                                          <div class="modal-body">
                                            <div class="datetime">{{ item.datetime|date:"M d, H:i" }}</div>
                                            <div class="row">
                                                <div class="odd">{{ item.odd }}</div>
                                                <div class="col-xs-6 col">
                                                    <h2>Home</h2>
                                                    {% thumbnail item.player_1.image "180x180" crop="center" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                    <h3>{{ item.player_1 }}<h3>
                                                </div>
                                                <div class="col-xs-6 col">
                                                    <h2>Away</h2>
                                                    {% thumbnail item.player_2.image "180x180" crop="center" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                    <h3>{{ item.player_2 }}<h3>
                                                </div>
                                            </div>
                                          </div>
                                          <h1 class="{{ sport }}">TIPS</h1>
                                          <div class="modal-tips">
                                              {% for tip in item|get_lang_tips:"us" %}
                                                <div>{{ tip.text }}</div>
                                              {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                {% endfor %}
                            {% else %}
                                <br>
                                <center>No active tips now, please check back in an hour.</center>

                                <!--{% if user and not user.is_anonymous %}
                                    <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                                {% else %}
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
                                {% endif %}-->
                            {% endif %}

                            <!--
                            <div class="row">
                                 <div class="col-xs-4 col-sm-4 date">
                                    <p>13 Feb 16:00</p>
                                 </div>
                                 <div class="col-xs-4 col-sm-4 team">
                                    <div class="unlock-{{ sport }} unlock text-center">
                                        <p>unlock</p>
                                    </div>
                                 </div>
                                 <div class="col-xs-2 col-sm-2 tips">
                                    <p>2</p>
                                 </div>
                                 <div class="col-xs-2 col-sm-2 odd">
                                    <p>2.20</p>
                                 </div>
                            </div>

                            <div class="row">
                                 <div class="col-xs-4 col-sm-4 date">
                                    <p>13 Feb 16:00</p>
                                 </div>
                                 <div class="col-xs-4 col-sm-4 team">
                                    <div class="unlock-{{ sport }} unlock text-center">
                                        <p>unlock</p>
                                    </div>
                                 </div>
                                 <div class="col-xs-2 col-sm-2 tips">
                                    <p>2</p>
                                 </div>
                                 <div class="col-xs-2 col-sm-2 odd">
                                    <p>2.20</p>
                                 </div>
                            </div>-->
                        </div>
                        <!--<div class="get-active-tip get-active-tip-{{ sport }} text-center">
                            <center>
                                {% if user and not user.is_anonymous %}
                                    {% if subscription_until != None %}
                                        <p class="title-text">You have subscription</p>
                                        <h1>Until {{ subscription_until|date:"d.m.Y" }}</h1>
                                    {% else %}
                                        <p class="title-text">Get active tips now, and<br>lets start winning!</p>
                                        {% csrf_token %}
                                        <span style="color:#fff; font-family: 'GothamProLight'; font-size: 18px">Hello {{ user.get_full_name|default:user.username }}!</span><br><br>
                                        <!--<a class="button" id="unlock" sport="football" data-toggle="modal" data-target="#unlock-modal">Unlock</a>
                                        <p class="button-text">all avaible tips</p>

                                        <div class="modal fade" id="unlock-modal" sport="{{ sport }}" sportid="{{ sport_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title upper" id="myModalLabel">Unlock all the tips for the month ({{ sport }})</h4>
                                                <a href="#" class="close-btn" data-dismiss="modal"></a>
                                              </div>
                                              <div class="modal-error" style="display: none">

                                              </div>
                                              <div class="modal-body" style="display: none">
                                                <span class="price-label">price</span>&nbsp;&nbsp;<span class="price-val"><span id="btc-price"></span> <span id="btc-currency">BTC</span></span><br><br>
                                                <input type="text" style="width:100%" id="btc-address" disabled><br>
                                                <br>
                                                <div id="unlock-qr">
                                                </div>
                                                <br>
                                                <button id="paid">I Paid</button>
                                              </div>
                                              <div class="loading">
                                                Wait...
                                              </div>
                                            </div>
                                          </div>
                                      </div>-->
                                    <!--{% endif %}
                                {% else %}
                                    <!--<p class="title-text">Get active tips now, and<br>lets start winning!</p>
                                    <div class="socials">
                                        <div class="social-row">
                                            <a class="social twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"></a>
                                            <a class="social fb"      href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"></a>
                                            <a class="social google"  href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"></a>
                                        </div>-->
                                        <!--<div class="social-row">
                                            <a class="social vk"      href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}"></a>
                                            <a class="social ok"      href="{% url 'social:begin' 'odnoklassniki-oauth2' %}?next={{ request.path }}"></a>
                                            <a class="social mailru"  href="{% url 'social:begin' 'mailru-oauth2' %}?next={{ request.path }}"></a>
                                        </div>-->
                                    <!--</div>-->
                                <!--{% endif %}
                            </center>

                            <!--<a href="#" class="Pay-SMS">Pay now with SMS</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 how-it-works" id="how-it-work" offset="-40">
        <div class="row">
            <div class="col-xs-4 col-sm-4 how-it">
                <h3>how it works</h3>
                <hr class="{{ sport }}-hr">
                <p>Strategy is the only right way to benefit from bets. Don't let your greed beat you, better beat bookmakers with our betting tips! Let's get down to business. Never bet all of your money, but divide your bank in 20 parts and bet the same amount every time untill your bank will gain some muscles. This strategy will hedge all your risks and our forecasters will lead you to profit!</p>
            </div>
            <div class="col-xs-4 col-sm-4 start-with text-center">
                <h3>You start with</h3>
                <div class="start-cash">
                    <p><i class="fa fa-usd"></i>100</p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 get-after-days text-center">
                <h3 class="{{ sport }}">you can get after {{ rate|length }} days</h3>
                <div class="after-days-cash {{ sport }}-days">
                    <p><i class="fa fa-usd"></i>{{ richer }}</p>
                </div>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-xs-12 col-sm-12" id="graph">#}
{#                {% for item in rate %}#}
{#                    <div class="point" value="{{ item.val }}" label="{{ item.label }}" style="display: none"></div>#}
{#                {% endfor %}#}
{#                <div class="graph" id="{{ sport }}-graph" style="height: 500px; width: 100%; margin-top: 60px;"></div>#}
{#            </div>#}
{#        </div>#}
    </div>

    <div id="feedback-form" offset="-40">
        <h3>Sign Up to Newsletters</h3>
        <hr class="{{ sport }}-hr" style="width: 100%">
        <h4>to receive exclusive tips, insights, free<br>bets and offers from our experts.</h4>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="#feedback-form">
            {% csrf_token %}
            <input type="text" class="{{ sport }} {{ feedback_name_error }}" placeholder="First name" name="name" value="{{ feedback_post_name }}">
            <input type="email" class="{{ sport }} {{ feedback_email_error }}" placeholder="E-mail" name="email" value="{{ feedback_post_email }}">
            <input type="tel" class="{{ sport }} {{ feedback_tel_error }}" placeholder="Phone" name="tel" value="{{ feedback_post_tel }}">

            <label class="{{ feedback_confirm_error }}">
                <div class="checkbox {{ sport }} {{ feedback_post_confirm }}"><input type="checkbox" {{ feedback_post_confirm }} name="confirm"></div>
                <div class="text">I confirm than I am at least 18 years of age and that I accept<br>the <a href="{% url "sports:terms" %}" target="_blank">Terms</a> and Conditions (incorporating the Privacy Policy)</div>
            </label>

            <input type="submit" class="{{ sport }}" name="feedback_submit" value="How to earn with us" onClick="_gaq.push(['_trackEvent', 'form', 'submit', 'How to Earn with Us']);">
        </form>
    </div>

    <div id="right-store-links">
        <a href="https://play.google.com/store/apps/details?id=com.revengebet_limited" class="google" target="_blank" onClick="_gaq.push(['_trackEvent', 'button', 'click', 'Download_Google_Play_form']);"></a>
        <a href="https://itunes.apple.com/ru/app/revengebet/id1129144807?l=en&mt=8" class="apple" target="_blank" onClick="_gaq.push(['_trackEvent', 'button', 'click', 'Download APP store form']);"></a>
    </div>
{% endblock %}
