{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RevengeBET - Sport tips</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{% static  'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static  'style.css'%}">
    <link rel="stylesheet/less" type="text/css" href="{% static  'style.less'%}">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '284836375228095');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=284836375228095&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
     <div class="fixed-menu">
         <a class="logo anchor-link" href="#"></a>
         <ul>
             <li><a href="#" id="home-link" class="anchor-link">Home</a></li>
             <li><a href="#tips" id="tips-link" class="anchor-link">Choose your sport</a></li>
             <li><a href="#tip-history" id="tip-history-link" class="anchor-link">Tip history</a></li>
             <li><a href="#how-it-work" id="how-it-work-link" class="anchor-link">How it works</a></li>
         </ul>
     </div>

     <div class="container-fluid main">
        <div class="container header">
            <img class="img-football" src="{% static  'img/header/football.jpg' %}">
            <img class="img-tennis" src="{% static  'img/header/tennis.jpg' %}">
            <a href="#">
                <img class="img-logo" src="{% static  'img/header/logo.png' %}">
            </a>
            <div class="welcome text-center">
                <p>Hello, We are RevengeBet.com<br>Total earnings off sports picks</p>
            </div>
            <div class="richer text-center">
                <i class="fa fa-usd">
                    <span>
                        {{ total_sports }}
                    </span>
                </i>
            </div>
            <div class="download text-center">
                <p>Download our Mobile App for Free<p>
            </div>
            <a href="https://play.google.com/store/apps/details?id=com.revengebet_limited" target="_blank" onClick="_gaq.push(['_trackEvent', 'button', ' Click', 'Google Play market top']);">
                <img class="img-google" src="{% static  'img/header/google.jpg' %}">
            </a>
            <a href="https://itunes.apple.com/ru/app/revengebet/id1129144807?l=en&mt=8" target="_blank" onClick="_gaq.push(['_trackEvent', 'button', ' click', 'app store_top']);">
                <img class="img-apple" src="{% static  'img/header/apple.jpg' %}">
            </a>
            <div class="col-xs-12 col-sm-12 mobile-block">
                <img class="img-responsive img-mobile" src="{% static  'img/header/mobile.png' %}">
            </div>
        </div>
        <div class="container content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="container footer">
        <ul class="footer-menu">
             <li><a href="#" class="anchor-link">Home</a></li>
             <li><a href="#tips" class="anchor-link">Choose your sport</a></li>
             <li><a href="#tip-history" class="anchor-link">Tip history</a></li>
             <li><a href="#how-it-work" class="anchor-link">How it works</a></li>
         </ul>

        <center>
            <ul>
                <li><a href="https://www.facebook.com/tennisfootballhockeybasketball/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/RevengeBet" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://plus.google.com/u/0/106142089382811643987/posts" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="https://www.tumblr.com/blog/revengebet" target="_blank"><i class="fa fa-tumblr-square"></i></a></li>
            </ul>
            <p class="contacts">CONTACT US</p>
            <p>RevengeBET Limited</p>
            <p>11 Rosemont Road Hampstead London, London NW3 6NG</p>
            <p>contact@revengebet.com</p>
            <p><a href="/terms/">Terms of use</a></p>
            <p><a href="/cancellation/">Cancellation policy</a></p>
            <p class="phone">+44 7937 957 714</p>
            <p>
                <img src="{% static "img/visa.png" %}">&nbsp;&nbsp;&nbsp;
                <img src="{% static "img/mastercard.png" %}">
            </p>
            <p>&nbsp;</p>
        </center>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-81724709-1', 'auto');
        ga('send', 'pageview');
    </script>

     <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-81724709-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static  'js/less.js' %}" type="text/javascript"></script>
    <script src="{% static  'js/canvasjs/canvasjs.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static  'js/qrcode.js' %}" type="text/javascript"></script>
    <script src="{% static  'js/main.js' %}" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/mobile-detect.js/1.3.3/mobile-detect.min.js"></script>
    <script src="{% static  'js/main-mobile.js' %}" type="text/javascript"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b43f3f325dc7d6"></script>
</body>
</html>

