<p>

</p>

<p>
<b>TERMS
OF USE</b></p>



<p>


</p>



<p>
This
page (together with the documents referred to on it) provides to you,
the user the Terms of Use (hereinafter the ‘Terms’) for this
website and this App (hereinafter ‘RevengeBet’. RevengeBet is
operated by REVENGEBET LTD, a company duly registered under the laws
and legislation of England and Wales, under registration number
10206160. Hereinafter, the terms “we”, “us” and “our”
refer to RevengeBet. We
own and operate RevengeBet on our own behalf. REVENGEBET LTD offers
RevengeBet, including all information, tools and services available
from RevengeBet to you, the user, provided that you accept all the
terms, conditions, policies and notices stated herein below.</p>



<p>


</p>



<p>
Please
read these Terms carefully before you download and/or install and/or
use RevengeBet. By downloading and/or installing and/or using
RevengeBet, you indicate that you accept these Terms and that you
agree to be bound by them. Any download and/or installation and/or
use of RevengeBet, constitutes your acceptance of these Terms which
takes effect on the date on which you download and/or install and/or
use RevengeBet. If you are hesitant towards and/or do not agree to
all and/or part of the terms and conditions of this agreement, then
please consult a legal consultant before downloading and/or
installing and/or using it, and if you still disagree with all and/or
any part of the terms you may not access and/or download and/or
install and/or use RevengeBet.
</p>



<p>


</p>



<p>
By
visiting and/or using RevengeBet, you engage in our “Service” and
agree unconditionally to be bound by the following terms and
conditions, including those additional terms and conditions and
policies referenced herein and/or available by hyperlink, which are
not provided and/or controlled by us and, in addition to any terms
and conditions are included within any other Agreement signed between
you and us and/or us and a third party. These Terms apply to all
users of RevengeBet.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Updates,
	amendments, alterations</b></p>
	<ol>
		<li><p>
		We
		reserve the right to update, change or replace any part of these
		Terms by posting updates and/or amendments and/or alterations to
		<a href="http://www.revengebet.com">www.revengebet.com</a> or by updating the App to incorporate the new
		terms of use. You are responsible for regularly reviewing
		information posted online to obtain timely notice of such changes.
		If you continue to use and/or access RevengeBet following the
		posting of any changes, this automatically constitutes acceptance
		of those changes. In the event you disagree with any amendment
		and/or alteration and/or update you shall immediately terminate the
		use of RevengeBet.</p>
		</li><li><p>
		The
		headings used in this agreement are included for convenience only
		and will not limit or otherwise affect these Terms.</p>
	</li></ol>
</li></ol>



<p>


</p>



<p>


</p>



<p>


</p>



<ol>
	<li><p>
	<b>Use</b></p>
	<ol>
		<li><p>
		We
		provide professional sports betting tips and statistics. We provide
		informational product only. We do not provide any betting or
		gambling services.</p>
		</li><li><p>
		To
		download, install, access or use Revengebet, you must be 18 years
		old or older.</p>
		</li><li><p>
		Use of
		RevengeBet does not include the provision of a mobile device or
		other necessary equipment to access it. To use RevengeBet you will
		require Internet connectivity and appropriate telecommunication
		links. We shall not have any responsibility or liability for any
		telephone or other costs you may incur.</p>
		</li><li><p>
		If you
		choose, or you are provided with, a user identification code,
		password or any other piece of information as part of our security
		procedures, you must treat such information as confidential, and
		you must not disclose it to any third party. We have the right to
		disable any user identification code or password, whether chosen by
		you or allocated by us, at any time, if in our opinion you have
		failed to comply with any of the provisions of these Terms.</p>
	</li></ol>
</li></ol>



<p>


</p>



<ol>
	<li><p>
	<b>Termination</b></p>
	<ol>
		<li><p>
		We
		retain the right at any time to alter and/or amend and/or add
		and/or modify and/or discontinue and/or terminate the Service
		and/or the access to RevengeBet (or any part or content thereof),
		at any time, without notice and/or prior information.</p>
		</li><li><p>
		We
		shall not be liable to you or to any third-party for any
		modification, suspension or discontinuance of the Service.</p>
		</li><li><p>
		A
		breach or violation of any of the Terms may result in an immediate
		termination of Services, account and the right of access.</p>
		</li><li><p>
		We
		reserve the right to refuse service to anyone for any reason at any
		time.</p>
		</li><li><p>
		These
		Terms are effective unless and until terminated by either you or
		us. You may terminate these Terms at any time by notifying us that
		you no longer wish to use our Services, or when you cease using
		RevengeBet.</p>
		</li><li><p>
		If in
		our sole judgment you fail, or we suspect that you have failed, to
		comply with any term or provision of these Terms, we also may
		terminate this agreement at any time without notice and you will
		remain liable for all amounts due up to and including the date of
		termination; and/or accordingly may deny you access to our Services
		(or any part thereof).</p>
	</li></ol>
</li></ol>



<p>

</p>



<ol>
	<li><p>
	<b>Prohibitions</b></p>
	<ol>
		<li><p>
		In
		addition to other prohibitions as set forth in the Terms, you are
		prohibited from using RevengeBet or its content:-</p>
	</li></ol>
</li></ol>



<ol>
	<ol>
		<li><p>
		for
		any fraudulent, unlawful and criminal purpose;
		</p>
		</li><li><p>
		to
		solicit others to perform or participate in any fraudulent,
		criminal and unlawful acts;</p>
		</li><li><p>
		for
		breach of any law, statute, regulation or bylaws of any applicable
		jurisdiction;</p>
		</li><li><p>
		to
		infringe upon or violate our intellectual property rights or the
		intellectual property rights of others;</p>
		</li><li><p>
		to
		harass, abuse, insult, harm, defame, slander, disparage,
		intimidate, or discriminate based on gender, sexual orientation,
		religion, ethnicity, race, age, national origin, or disability;
		</p>
		</li><li><p>
		to
		submit false or misleading information;</p>
		</li><li><p>
		to
		upload or transmit viruses or any other type of malicious code that
		will or may be used in any way that will affect the functionality
		or operation of the Service or, other websites, or the Internet;</p>
		</li><li><p>
		to
		collect or track the personal information of others;</p>
		</li><li><p>
		to
		spam, phish, pharm, pretext, spider, crawl, or scrape;</p>
		</li><li><p>
		for
		any obscene or immoral purpose;
		</p>
		</li><li><p>
		to
		interfere with or circumvent the security features of the Service,
		other websites, or the Internet.</p>
		</li><li><p>
		You
		agree not to reproduce, duplicate, copy, sell, resell or exploit
		any portion of the Service, use of the Service, or access to the
		Service or any contact on RevengeBet through which the service is
		provided, without express written permission by us.</p>
		</li><li><p>
		You
		agree not to access without authority, interfere with, damage or
		disrupt:</p>
	</li></ol>
</ol>



<p>


</p>



<p>
a) any
part of RevengeBet;</p>



<p>
b) any
equipment or network on which RevengeBet is stored;</p>



<p>
c) any
software used in the provision of RevengeBet; or</p>



<p>
d) any
equipment or network or software owned or used by any third party.</p>



<p>


</p>



<p>
The
above referred listed prohibitions is a non-exhaustive list of
prohibitions and we reserve the right to terminate your use of the
Service for violating any of the prohibited uses listed and/or not
listed above.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Warranties</b></p>
	<ol>
		<li><p>
		We
		warrant that we do not provide betting or gambling services. Any
		use of such services from you - provided by third parties – that
		may cause you loss and/or damages cannot be claimed by us.
		You
		assume sole responsibility for results obtained from the use of
		RevengeBet, and for conclusions drawn from such use. We shall have
		no liability for any damage caused by errors or omissions in any
		information, instructions or scripts provided in connection with
		RevengeBet.</p>
		</li><li><p>
		We do
		not warrant that the quality of any services, information, or other
		material obtained by you will meet your expectations, or that any
		errors in the Service will be corrected.</p>
		</li><li><p>
		We do
		not guarantee, represent or warrant that your use of our service
		will be uninterrupted, timely, secure or error-free.</p>
		</li><li><p>
		We do
		not warrant that RevengeBet will be compatible with all hardware
		and software which you may use. We shall not be liable for damage
		to, or viruses or other code that may affect, any equipment
		(including but not limited to your mobile device), software, data
		or other property as a result of your download, installation,
		access to or use of RevengeBet or your obtaining any material from,
		or as a result of using, RevengeBet. We shall also not be liable
		for the actions of third parties.</p>
		</li><li><p>
		We do
		not warrant that any statement current and/or future shall apply to
		you or any other third party without deviations. Specifically,
		regarding future statements, plans, potential achievements,
		estimations etc, we do not guarantee, represent or warrant the
		implementation of such statements.</p>
		</li><li><p>
		We do
		not warrant that the results that may be obtained from the use of
		the service will be accurate or reliable.</p>
		</li><li><p>
		You
		agree that from time to time we may remove the service for
		indefinite periods of time or cancel the service at any time,
		without notice to you.
		</p>
		</li><li><p>
		We
		reserve the right to discontinue any service at any time.
		</p>
	</li></ol>
</li></ol>



<p>


</p>



<ol>
	<li><p>
	<b>Payments
	and charges</b></p>
	<ol>
		<li><p>The
		payment for the services provided shall be completed as described
		in www.revengebet.com.</p>
		</li><li><p>
		With
		respect to our clients, we are making every effort in order to
		provide our services effectively. Every payment that is made to us,
		for the acquisition of our betting tips does not guarantee and/or
		does not warrant the winning and/or gaining of prizes and/or
		profits from third parties.</p>
		</li><li><p>
		Due to
		the nature of the provision of our services, you may interact with
		several other parties during the use of RevengeBet. It is
		understood and agreed that we do not retain any liability and/or
		responsibility for any additional charges imposed by those parties.</p>
	</li></ol>
</li></ol>



<p>


</p>



<ol>
	<li><p>
	<b>Third
	parties’ links</b></p>
	<ol>
		<li><p>
		Certain
		content, and services available via our Service may include
		materials from third parties.</p>
		</li><li><p>
		We may
		provide you with access to third party tools over which we neither
		monitor nor have any control of. You acknowledge and agree that we
		provide access to such tools without any warranties,
		representations or conditions of any kind and without any
		endorsement. We shall have no liability whatsoever arising from or
		relating to your use of optional third-party tools.</p>
		</li><li><p>
		Any
		use by you of optional tools offered through RevengeBet is entirely
		at your own risk and discretion and you should ensure that you are
		familiar with and approve of the terms on which tools are provided
		by the relevant third-party provider(s).</p>
		</li><li><p>
		We may
		also, in the future, offer new third party services and/or features
		through RevengeBet (including, the release of new tools and
		resources). Such new features and/or services shall also be subject
		to these Terms.</p>
		</li><li><p>
		Third-party
		links on this site may direct you to third party websites that are
		not affiliated with us. We are not responsible for examining or
		evaluating the content or accuracy and we do not warrant and will
		not have any liability or responsibility for any third party
		materials, or for any other materials, products, or services of
		third-parties.</p>
		</li><li><p>
		We are
		not liable for any harm or damages related to services, resources,
		content, or any other transactions made in connection with any
		third-party websites. Please review carefully the third parties’
		policies and practices and make sure you understand them before you
		engage in any transaction. Complaints, claims, concerns, or
		questions regarding third party products should be directed to the
		third party.</p>
	</li></ol>
</li></ol>



<p>


</p>



<ol>
	<li><p>
	<b>Use
	of Cookies</b></p>
</li></ol>



<p>
Cookies
may be used in order to improve our service to you. The cookies used
do not collect personally identifiable information, and they are not
used to determine your Identity. If you are not comfortable with this
use, you may configure your browser to be notified when cookies are
to be received and to provide you with the option of refusing
cookies. Cookies may be used to record details of pages relating to
particular products and services that you have visited RevengeBet.
This is to provide us with generic usage statistics to allow us to
improve this Site and to provide you with information that may
interest you.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Intellectual
	Property</b></p>
</li></ol>



<p>
You
hereby acknowledge, agree and respect that, the content and/or any
patent, copyright, logo, design rights, data base rights,
applications for any of the above, moral rights, know-how, trade
secrets, domain names, URL, or any other intellectual or industrial
property rights (and any licenses in connection with any of the
same), whether or not registered or capable of registration, and
whether subsisting in any specific country or countries or any other
part of the world, which belong to us or our affiliates, partners,
suppliers or licensors ("Intellectual Property Rights") are
exclusively owned by us or our affiliates, partners, suppliers or
licensors, and we and/or such entities, as applicable, reserve all
rights to the Intellectual Property Rights. You hereby acknowledge
that by accessing and using RevengeBet you obtain no rights in or to
the Proprietary Rights other than those expressly granted under this
Agreement.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Liability</b></p>
	<ol>
		<li><p>
		In
		no case shall REVENGEBET LTD, our directors, officers, employees,
		affiliates, agents, contractors, interns, suppliers, service
		providers or licensors be liable for any injury, loss, claim, or
		any direct, indirect, incidental, punitive, special, or
		consequential damages of any kind, including, without limitation
		lost profits, lost revenue, lost savings, loss of data, replacement
		costs, or any similar damages, whether based in contract, tort
		(including negligence), strict liability or otherwise, arising from
		your use of any of the service or any products procured using the
		service, or for any other claim related in any way to your use of
		the service, including, but not limited to, any errors or omissions
		in any content, or any loss or damage of any kind incurred as a
		result of the use of the service or any content posted,
		transmitted, or otherwise made available via the service, even if
		advised of their possibility.
		</p>
		</li><li><p>
		In
		case of force majeure namely, acts of God, wars, military action,
		strikes or other labour disputes, fires, transportation
		contingencies, interruptions in telecommunications, utility,
		Internet services or network provider services, acts or omissions
		by a third party, infiltration or disruption of the Services by a
		third party, or other catastrophes or occurrences that are beyond
		our reasonable control, we shall not be liable for any kind of
		loss, delay, damage occurred.</p>
		</li><li><p>
		You
		assume all responsibility and risk with respect to your use of
		RevengeBet. You understand and agree that, to the fullest extent
		permitted by law, we disclaim all warranties, representations and
		endorsements, express or implied, with regard to RevengeBet. We do
		not assume any liability or responsibility for any computer
		viruses, bugs, malicious code, or other harmful components, delays,
		inaccuracies, errors or omissions. We have no duty to update
		RevengeBet and we are not liable for our failure to do so. We, our
		employees and/or our representatives are not liable herein or
		otherwise for any loss or damage of any kind direct or indirect,
		regarding RevengeBet or arising from RevengeBet.
		</p>
	</li></ol>
</li></ol>



<p>


</p>



<ol>
	<li><p><b>Indemnification
	</b>
	</p>
</li></ol>



<p>
You
agree to indemnify, defend and hold harmless RevengeBet and our
subsidiaries, representatives, affiliates, partners, officers,
directors, agents, contractors, licensors, service providers,
subcontractors, suppliers, interns and employees, harmless from any
claim or demand, including reasonable attorneys’ fees, made by any
third party due to or arising out of your breach of these Terms or
the documents they incorporate by reference, or your violation of any
law or the rights of a third party.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Severability</b></p>
</li></ol>



<p>
In the
event that any provision of these Terms is determined to be unlawful,
void or unenforceable, such provision shall nonetheless be
enforceable to the fullest extent permitted by applicable law, and
the unenforceable portion shall be deemed severed from these Terms,
such determination shall not affect the validity and enforceability
of any other remaining provisions.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Governing
	law</b></p>
</li></ol>



<p>
These
Terms and any separate agreements shall be governed by and construed
in accordance with the laws and legislation of England and Wales and
the Courts of the England and Wales have the sole and exclusive
jurisdiction in regard to any dispute may arise upon the
implementation of the terms and conditions of the present Agreement
and/or services.</p>



<p>


</p>



<ol>
	<li><p>
	<b>Miscellaneous</b></p>
	<ol>
		<li><p>
		The
		failure of us to exercise or enforce any right or provision of
		these Terms shall not constitute a waiver of such right or
		provision.</p>
		</li><li><p>
		These
		Terms and any policies or operating rules posted by us on this site
		or in respect to The Service constitutes the entire agreement and
		understanding between you and us and govern your use of the
		Service, superseding any prior or contemporaneous agreements,
		communications and proposals, whether oral or written, between you
		and us (including, but not limited to, any prior versions of the
		Terms).</p>
		</li><li><p>
		Any
		ambiguities in the interpretation of these Terms shall not be
		construed against the drafting party.</p>
		</li><li><p>
		Your
		submission of personal information through RevengeBet is governed
		by our Privacy Policy. Click here to view our Privacy Policy.</p>
	</li></ol>
</li></ol>



<p>


</p>
