
.languages-widget a {
	display: block;
	padding: 5px;
	text-decoration: none !important;
	color: #000;
}

.languages-widget li.empty a {
	color: #999;
}

.languages-widget li.active a {
	color: #f00;
}

.languages-widget li {
	float: left;
	width: 25%;
	display: block;
}

.languages-widget a:hover {
	background: #f5f5f5;
}

.js-languages-formset .empty-form {
	display: none !important;
}

.autocomplete_wrapper {
	position: relative;
}

.autocomplete_wrapper ul {
	position: absolute;
	width: 272px;
	border: 1px solid #ccc;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background: #fff;
	z-index: 999;
}

.autocomplete_wrapper li {
	list-style: none;
}

.autocomplete_wrapper li {
	display: block;
	color: #000 !important;
}

.autocomplete_wrapper ul.empty {
	border: none;
}

.autocomplete_wrapper li.active {
	display: block;
	background: #eee;
}

.autocomplete_wrapper li a {
	display: block;
	color: #000 !important;
	padding: 2px 10px;
}
